@font-face {
  font-family: 'icon';
  src:  url('../fonts/wue-icon.eot?579ta6');
  src:  url('../fonts/wue-icon.eot?579ta6#iefix') format('embedded-opentype'),
    url('../fonts/wue-icon.ttf?579ta6') format('truetype'),
    url('../fonts/wue-icon.woff?579ta6') format('woff'),
    url('../fonts/wue-icon.svg?579ta6#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-key:before {
  content: "\e759";
}
.icon-sale:before {
  content: "\e604";
}
.icon-vidicon:before {
  content: "\e62c";
}
.icon-more-o:before {
  content: "\e607";
}
.icon-cogs:before {
  content: "\e73e";
}
.icon-refund:before {
  content: "\e600";
}
.icon-refresh-circle:before {
  content: "\e631";
}
.icon-comments:before {
  content: "\e6fc";
}
.icon-key-up:before {
  content: "\e61b";
}
.icon-share-o:before {
  content: "\e62e";
}
.icon-add-folder:before {
  content: "\e626";
}
.icon-sun:before {
  content: "\e602";
}
.icon-users:before {
  content: "\e663";
}
.icon-home-o:before {
  content: "\e662";
}
.icon-bookmarks:before {
  content: "\e741";
}
.icon-customer-services17:before {
  content: "\e65c";
}
.icon-barcode:before {
  content: "\e61e";
}
.icon-bubble-o:before {
  content: "\e6fd";
}
.icon-home2:before {
  content: "\e73a";
}
.icon-bookmark:before {
  content: "\e60d";
}
.icon-open-folder:before {
  content: "\e62b";
}
.icon-connection:before {
  content: "\e85f";
}
.icon-arrow-shrink:before {
  content: "\e829";
}
.icon-alipay:before {
  content: "\e67c";
}
.icon-link:before {
  content: "\e664";
}
.icon-unlock:before {
  content: "\e627";
}
.icon-yen:before {
  content: "\e610";
}
.icon-more-dot:before {
  content: "\e605";
}
.icon-share-open:before {
  content: "\e690";
}
.icon-arrow-right-l:before {
  content: "\e622";
}
.icon-arrow-left-l:before {
  content: "\e624";
}
.icon-photo:before {
  content: "\e656";
}
.icon-checkmark:before {
  content: "\e661";
}
.icon-coupon:before {
  content: "\e615";
}
.icon-unquote:before {
  content: "\e606";
}
.icon-sale-circle:before {
  content: "\e616";
}
.icon-customer-service:before {
  content: "\e676";
}
.icon-alarm:before {
  content: "\e60c";
}
.icon-setting:before {
  content: "\e64c";
}
.icon-map-location:before {
  content: "\e614";
}
.icon-arrow-left-circle:before {
  content: "\e645";
}
.icon-arrow-down-circle:before {
  content: "\e650";
}
.icon-arrow-right-circle:before {
  content: "\e658";
}
.icon-arrow-up-circle:before {
  content: "\e65b";
}
.icon-heart-o:before {
  content: "\e764";
}
.icon-red-packet-v:before {
  content: "\e621";
}
.icon-location-fill:before {
  content: "\e632";
}
.icon-bar-chart:before {
  content: "\e611";
}
.icon-calculator:before {
  content: "\e66a";
}
.icon-feedback:before {
  content: "\e670";
}
.icon-pencil:before {
  content: "\e612";
}
.icon-close-circle:before {
  content: "\e618";
}
.icon-check-circle:before {
  content: "\e61a";
}
.icon-dollar:before {
  content: "\e61f";
}
.icon-location:before {
  content: "\e636";
}
.icon-equalizer:before {
  content: "\e665";
}
.icon-user:before {
  content: "\e620";
}
.icon-key-down:before {
  content: "\e628";
}
.icon-call:before {
  content: "\e637";
}
.icon-share-right:before {
  content: "\e638";
}
.icon-calendar:before {
  content: "\e685";
}
.icon-books:before {
  content: "\e6a4";
}
.icon-at:before {
  content: "\e6aa";
}
.icon-scan-qrcode:before {
  content: "\e69c";
}
.icon-wepay:before {
  content: "\e617";
}
.icon-refresh:before {
  content: "\e63e";
}
.icon-question:before {
  content: "\e63a";
}
.icon-idea:before {
  content: "\e633";
}
.icon-phone:before {
  content: "\e63b";
}
.icon-cloud-upload:before {
  content: "\e69d";
}
.icon-cloud-download:before {
  content: "\e69e";
}
.icon-pie-chart:before {
  content: "\e729";
}
.icon-search:before {
  content: "\e7d1";
}
.icon-shop-cart:before {
  content: "\e63c";
}
.icon-star-fill:before {
  content: "\e63f";
}
.icon-heart-fill:before {
  content: "\e603";
}
.icon-clock:before {
  content: "\e640";
}
.icon-trucks-left:before {
  content: "\e67a";
}
.icon-star:before {
  content: "\e642";
}
.icon-share-line:before {
  content: "\e6f9";
}
.icon-unlike:before {
  content: "\e60a";
}
.icon-microphoneicon:before {
  content: "\e643";
}
.icon-phone-o:before {
  content: "\e726";
}
.icon-qq:before {
  content: "\e644";
}
.icon-locked:before {
  content: "\e608";
}
.icon-question-o:before {
  content: "\e62f";
}
.icon-coupon-rmb:before {
  content: "\e6c8";
}
.icon-message-dot-o:before {
  content: "\e672";
}
.icon-user-add:before {
  content: "\e6b6";
}
.icon-arrow-circle-down-l:before {
  content: "\e629";
}
.icon-order:before {
  content: "\e649";
}
.icon-weibo:before {
  content: "\e64b";
}
.icon-sale-fill:before {
  content: "\e619";
}
.icon-arrow-down-l:before {
  content: "\e74e";
}
.icon-arrow-up-l:before {
  content: "\e758";
}
.icon-envelopes:before {
  content: "\e651";
}
.icon-hand-up:before {
  content: "\e652";
}
.icon-hand-right:before {
  content: "\e653";
}
.icon-hand-left:before {
  content: "\e654";
}
.icon-course:before {
  content: "\e667";
}
.icon-info:before {
  content: "\e61c";
}
.icon-folder:before {
  content: "\e62d";
}
.icon-chain:before {
  content: "\e776";
}
.icon-comments-o:before {
  content: "\e78d";
}
.icon-eye-slash:before {
  content: "\e7aa";
}
.icon-eye:before {
  content: "\e7ab";
}
.icon-flag:before {
  content: "\e7cf";
}
.icon-line-chart:before {
  content: "\e7fd";
}
.icon-smile:before {
  content: "\e655";
}
.icon-address-book:before {
  content: "\e657";
}
.icon-fresh:before {
  content: "\e6a8";
}
.icon-wallet:before {
  content: "\e61d";
}
.icon-camera:before {
  content: "\e62a";
}
.icon-more-vertical:before {
  content: "\e659";
}
.icon-like:before {
  content: "\e601";
}
.icon-list-menu:before {
  content: "\e6b5";
}
.icon-cancel:before {
  content: "\e73d";
}
.icon-user-tie:before {
  content: "\e666";
}
.icon-gift:before {
  content: "\e78f";
}
.icon-scan-barcode:before {
  content: "\e6a0";
}
.icon-sound:before {
  content: "\e732";
}
.icon-invalid-o:before {
  content: "\e65e";
}
.icon-attachment:before {
  content: "\e625";
}
.icon-credit-card:before {
  content: "\e81b";
}
.icon-hand-down:before {
  content: "\e840";
}
.icon-tablet:before {
  content: "\e8b4";
}
.icon-desktop:before {
  content: "\e834";
}
.icon-home:before {
  content: "\e65f";
}
.icon-switch:before {
  content: "\e6a9";
}
.icon-org-tree:before {
  content: "\e660";
}
.icon-comment-dot-l:before {
  content: "\e673";
}
.icon-qrcode:before {
  content: "\e763";
}
.icon-image:before {
  content: "\e6b1";
}
.icon-sad:before {
  content: "\e704";
}
.icon-trash:before {
  content: "\e707";
}
.icon-clock-o:before {
  content: "\e60b";
}
.icon-message-o-l:before {
  content: "\e674";
}
.icon-file:before {
  content: "\e66c";
}
.icon-arrow-circle-left:before {
  content: "\e67e";
}
.icon-arrow-circle-right:before {
  content: "\e67f";
}
.icon-trucks-r:before {
  content: "\e88b";
}
.icon-message-dot-r:before {
  content: "\e675";
}
.icon-heart-broken-fill:before {
  content: "\e66d";
}
.icon-alarm-o:before {
  content: "\e609";
}
.icon-red-packet-o:before {
  content: "\e613";
}
.icon-weixin:before {
  content: "\e66f";
}
.icon-tree-menu:before {
  content: "\e671";
}
.icon-hand:before {
  content: "\e686";
}
.icon-arrow-circle-down:before {
  content: "\e60e";
}
.icon-envelope:before {
  content: "\efd1";
}
.icon-file-text:before {
  content: "\efd2";
}
.icon-music:before {
  content: "\efd6";
}
.icon-id-card:before {
  content: "\e623";
}
.icon-quote:before {
  content: "\efd7";
}
