@font-face {
  font-family: 'weui';
  src:  url('../fonts/weui.eot?ty1nyb');
  src:  url('../fonts/weui.eot?ty1nyb#iefix') format('embedded-opentype'),
    url('../fonts/weui.ttf?ty1nyb') format('truetype'),
    url('../fonts/weui.woff?ty1nyb') format('woff'),
    url('../fonts/weui.svg?ty1nyb#weui') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'weui' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.weui-icon-home:before {
  content: "\e601";
}
.weui-icon-arrow-down-circle-right:before {
  content: "\e602";
}
.weui-icon-heart-fill:before {
  content: "\e603";
}
.weui-icon-alarm-clock:before {
  content: "\e604";
}
.weui-icon-alarm:before {
  content: "\e605";
}
.weui-icon-unquote:before {
  content: "\e606";
}
.weui-icon-rmb:before {
  content: "\e607";
}
.weui-icon-coupon:before {
  content: "\e608";
}
.weui-icon-menus:before {
  content: "\e609";
}
.weui-icon-star-fill:before {
  content: "\e60b";
}
.weui-icon-arrow-right:before {
  content: "\e60c";
}
.weui-icon-arrow-left:before {
  content: "\e60d";
}
.weui-icon-coupon-o:before {
  content: "\e60e";
}
.weui-icon-setting:before {
  content: "\e610";
}
.weui-icon-pencil:before {
  content: "\e612";
}
.weui-icon-more:before {
  content: "\e613";
}
.weui-icon-share:before {
  content: "\e615";
}
.weui-icon-Key:before {
  content: "\e616";
}
.weui-icon-wepay:before {
  content: "\e617";
}
.weui-icon-arrow-up-circle-up:before {
  content: "\e618";
}
.weui-icon-sale-fill:before {
  content: "\e619";
}
.weui-icon-arrow-left-circle-left:before {
  content: "\e61a";
}
.weui-icon-more-v:before {
  content: "\e61c";
}
.weui-icon-car:before {
  content: "\e61d";
}
.weui-icon-wifi:before {
  content: "\e61e";
}
.weui-icon-list-menus:before {
  content: "\e622";
}
.weui-icon-favour:before {
  content: "\e623";
}
.weui-icon-checked:before {
  content: "\e624";
}
.weui-icon-share-file:before {
  content: "\e625";
}
.weui-icon-arrow-up:before {
  content: "\e626";
}
.weui-icon-star:before {
  content: "\e627";
}
.weui-icon-lock:before {
  content: "\e62c";
}
.weui-icon-message-o:before {
  content: "\e62d";
}
.weui-icon-users-three:before {
  content: "\e62e";
}
.weui-icon-clock:before {
  content: "\e62f";
}
.weui-icon-alipay-file:before {
  content: "\e633";
}
.weui-icon-dollar:before {
  content: "\e634";
}
.weui-icon-question:before {
  content: "\e635";
}
.weui-icon-database:before {
  content: "\e636";
}
.weui-icon-edit-line:before {
  content: "\e638";
}
.weui-icon-mail:before {
  content: "\e640";
}
.weui-icon-record:before {
  content: "\e641";
}
.weui-icon-scan:before {
  content: "\e642";
}
.weui-icon-arrow-down-circle:before {
  content: "\e644";
}
.weui-icon-edit:before {
  content: "\e64f";
}
.weui-icon-service:before {
  content: "\e650";
}
.weui-icon-location:before {
  content: "\e653";
}
.weui-icon-hand-left:before {
  content: "\e654";
}
.weui-icon-gift:before {
  content: "\e659";
}
.weui-icon-message-file:before {
  content: "\e65c";
}
.weui-icon-wallet:before {
  content: "\e660";
}
.weui-icon-coupon-c:before {
  content: "\e669";
}
.weui-icon-broken-heart:before {
  content: "\e66d";
}
.weui-icon-refresh:before {
  content: "\e66f";
}
.weui-icon-card:before {
  content: "\e672";
}
.weui-icon-alipay:before {
  content: "\e67c";
}
.weui-icon-users:before {
  content: "\e68a";
}
.weui-icon-hand-right:before {
  content: "\e6fc";
}
.weui-icon-user:before {
  content: "\e7f8";
}
.weui-icon-loadings:before {
  content: "\e834";
}
.weui-icon-loading-one:before {
  content: "\e839";
}
.weui-icon-rocket:before {
  content: "\e900";
}
.weui-icon-hand-down:before {
  content: "\e91c";
}
.weui-icon-order:before {
  content: "\e9c2";
}
.weui-icon-circle:before {
  content: "\ea01";
}
.weui-icon-download:before {
  content: "\ea02";
}
.weui-icon-info:before {
  content: "\ea03";
}
.weui-icon-safe_success:before {
  content: "\ea04";
}
.weui-icon-safe_warn:before {
  content: "\ea05";
}
.weui-icon-success:before {
  content: "\ea06";
}
.weui-icon-success-circle:before {
  content: "\ea07";
}
.weui-icon-success-no-circle:before {
  content: "\ea08";
}
.weui-icon-waiting:before {
  content: "\ea09";
}
.weui-icon-waiting-circle:before {
  content: "\ea0a";
}
.weui-icon-warn:before {
  content: "\ea0b";
}
.weui-icon-info-circle:before {
  content: "\ea0c";
}
.weui-icon-cancel:before {
  content: "\ea0d";
}
.weui-icon-search:before {
  content: "\ea0e";
}
.weui-icon-clear:before {
  content: "\ea0f";
}
.weui-icon-back:before {
  content: "\ea10";
}
.weui-icon-delete:before {
  content: "\ea11";
}
.weui-icon-arrow-down:before {
  content: "\ea1a";
}
.weui-icon-hand-up:before {
  content: "\ecf6";
}
.weui-icon-quote:before {
  content: "\efd7";
}
.weui-icon-check-empty:before {
  content: "\f096";
}
.weui-icon-apple:before {
  content: "\f179";
}
.weui-icon-android:before {
  content: "\f17b";
}
.weui-icon-tencent-weibo:before {
  content: "\f1d5";
}
.weui-icon-bicycle:before {
  content: "\f206";
}
.weui-icon-motorcycle:before {
  content: "\f21c";
}
.weui-icon-venus:before {
  content: "\f221";
}
.weui-icon-mars:before {
  content: "\f222";
}
.weui-icon-mercury:before {
  content: "\f223";
}
.weui-icon-transgender:before {
  content: "\f224";
}
.weui-icon-transgender-alt:before {
  content: "\f225";
}
.weui-icon-venus-double:before {
  content: "\f226";
}
.weui-icon-mars-double:before {
  content: "\f227";
}
.weui-icon-venus-mars:before {
  content: "\f228";
}
.weui-icon-mars-stroke:before {
  content: "\f229";
}
.weui-icon-mars-stroke-up:before {
  content: "\f22a";
}
.weui-icon-mars-stroke-right:before {
  content: "\f22b";
}
.weui-icon-neuter:before {
  content: "\f22c";
}
.weui-icon-battery-half:before {
  content: "\f242";
}
.weui-icon-battery-empty:before {
  content: "\f244";
}
.weui-icon-hourglass-up:before {
  content: "\f251";
}
.weui-icon-hourglass-down:before {
  content: "\f253";
}
.weui-icon-usb:before {
  content: "\f287";
}
.weui-icon-blue-tooth:before {
  content: "\f294";
}
.weui-icon-thermometer-half:before {
  content: "\f2c9";
}
.weui-icon-microchip:before {
  content: "\f2db";
}
.weui-icon-snowflake:before {
  content: "\f2dc";
}
.weui-icon-quill:before {
  content: "\e907";
}
.weui-icon-image:before {
  content: "\e90d";
}
.weui-icon-images:before {
  content: "\e90e";
}
.weui-icon-camera:before {
  content: "\e90f";
}
.weui-icon-headphones:before {
  content: "\e910";
}
.weui-icon-music:before {
  content: "\e911";
}
.weui-icon-play:before {
  content: "\e912";
}
.weui-icon-barcode:before {
  content: "\e937";
}
.weui-icon-qrcode:before {
  content: "\e938";
}
.weui-icon-cart:before {
  content: "\e93a";
}
.weui-icon-compass:before {
  content: "\e949";
}
.weui-icon-display:before {
  content: "\e956";
}
.weui-icon-laptop:before {
  content: "\e957";
}
.weui-icon-mobile:before {
  content: "\e958";
}
.weui-icon-mobile2:before {
  content: "\e959";
}
.weui-icon-undo2:before {
  content: "\e967";
}
.weui-icon-redo2:before {
  content: "\e968";
}
.weui-icon-forward:before {
  content: "\e969";
}
.weui-icon-reply:before {
  content: "\e96a";
}
.weui-icon-bubble:before {
  content: "\e96b";
}
.weui-icon-bubbles:before {
  content: "\e96c";
}
.weui-icon-bubbles2:before {
  content: "\e96d";
}
.weui-icon-happy:before {
  content: "\e9df";
}
.weui-icon-happy2:before {
  content: "\e9e0";
}
.weui-icon-smile:before {
  content: "\e9e1";
}
.weui-icon-smile2:before {
  content: "\e9e2";
}
.weui-icon-tongue:before {
  content: "\e9e3";
}
.weui-icon-tongue2:before {
  content: "\e9e4";
}
.weui-icon-sad:before {
  content: "\e9e5";
}
.weui-icon-sad2:before {
  content: "\e9e6";
}
.weui-icon-wink:before {
  content: "\e9e7";
}
.weui-icon-wink2:before {
  content: "\e9e8";
}
.weui-icon-grin:before {
  content: "\e9e9";
}
.weui-icon-grin2:before {
  content: "\e9ea";
}
.weui-icon-cool:before {
  content: "\e9eb";
}
.weui-icon-cool2:before {
  content: "\e9ec";
}
.weui-icon-angry:before {
  content: "\e9ed";
}
.weui-icon-angry2:before {
  content: "\e9ee";
}
.weui-icon-evil:before {
  content: "\e9ef";
}
.weui-icon-evil2:before {
  content: "\e9f0";
}
.weui-icon-shocked:before {
  content: "\e9f1";
}
.weui-icon-shocked2:before {
  content: "\e9f2";
}
.weui-icon-baffled:before {
  content: "\e9f3";
}
.weui-icon-baffled2:before {
  content: "\e9f4";
}
.weui-icon-confused:before {
  content: "\e9f5";
}
.weui-icon-confused2:before {
  content: "\e9f6";
}
.weui-icon-neutral:before {
  content: "\e9f7";
}
.weui-icon-neutral2:before {
  content: "\e9f8";
}
.weui-icon-hipster:before {
  content: "\e9f9";
}
.weui-icon-hipster2:before {
  content: "\e9fa";
}
.weui-icon-wondering:before {
  content: "\e9fb";
}
.weui-icon-wondering2:before {
  content: "\e9fc";
}
.weui-icon-sleepy:before {
  content: "\e9fd";
}
.weui-icon-sleepy2:before {
  content: "\e9fe";
}
.weui-icon-frustrated:before {
  content: "\e9ff";
}
.weui-icon-frustrated2:before {
  content: "\ea00";
}
.weui-icon-crying:before {
  content: "\ea12";
}
.weui-icon-crying2:before {
  content: "\ea13";
}
.weui-icon-plus:before {
  content: "\ea14";
}
.weui-icon-minus:before {
  content: "\ea15";
}
.weui-icon-play2:before {
  content: "\ea16";
}
.weui-icon-pause:before {
  content: "\ea17";
}
.weui-icon-stop:before {
  content: "\ea18";
}
