@font-path: "../fonts";


@weui-icon-heart-fill: "\e603";
@weui-icon-unquote: "\e606";
@weui-icon-pencil: "\e612";
@weui-icon-wepay: "\e617";
@weui-icon-sale-fill: "\e619";
@weui-icon-broken-heart: "\e66d";
@weui-icon-alipay: "\e67c";
@weui-icon-loadings: "\e834";
@weui-icon-loading-one: "\e839";
@weui-icon-quote: "\efd7";
@weui-icon-check-empty: "\f096";
@weui-icon-desktop: "\f108";
@weui-icon-laptop: "\f109";
@weui-icon-tablet: "\f10a";
@weui-icon-mobile: "\f10b";
@weui-icon-apple: "\f179";
@weui-icon-android: "\f17b";
@weui-icon-tencent-weibo: "\f1d5";
@weui-icon-bicycle: "\f206";
@weui-icon-motorcycle: "\f21c";
@weui-icon-venus: "\f221";
@weui-icon-mars: "\f222";
@weui-icon-mercury: "\f223";
@weui-icon-transgender: "\f224";
@weui-icon-transgender-alt: "\f225";
@weui-icon-venus-double: "\f226";
@weui-icon-mars-double: "\f227";
@weui-icon-venus-mars: "\f228";
@weui-icon-mars-stroke: "\f229";
@weui-icon-mars-stroke-up: "\f22a";
@weui-icon-mars-stroke-right: "\f22b";
@weui-icon-neuter: "\f22c";
@weui-icon-battery-half: "\f242";
@weui-icon-battery-empty: "\f244";
@weui-icon-hourglass-up: "\f251";
@weui-icon-hourglass-down: "\f253";
@weui-icon-usb: "\f287";
@weui-icon-blue-tooth: "\f294";
@weui-icon-thermometer-half: "\f2c9";
@weui-icon-microchip: "\f2db";
@weui-icon-snowflake: "\f2dc";
@weui-icon-hand-left: "\e654";
@weui-icon-qrcode: "\e60f";
@weui-icon-hand-right: "\e6fc";
@weui-icon-message-o: "\e62d";
@weui-icon-camera: "\e628";
@weui-icon-star: "\e627";
@weui-icon-coupon: "\e608";
@weui-icon-coupon-c: "\e669";
@weui-icon-coupon-o: "\e60e";
@weui-icon-arrow-up: "\e626";
@weui-icon-message-file: "\e65c";
@weui-icon-arrow-down-circle: "\e644";
@weui-icon-menus: "\e609";
@weui-icon-checked: "\e624";
@weui-icon-clock: "\e62f";
@weui-icon-order: "\e9c2";
@weui-icon-alarm-clock: "\e604";
@weui-icon-users: "\e68a";
@weui-icon-refresh: "\e66f";
@weui-icon-lock: "\e62c";
@weui-icon-heart: "\e60a";
@weui-icon-question: "\e635";
@weui-icon-car: "\e61d";
@weui-icon-wifi: "\e61e";
@weui-icon-favour: "\e623";
@weui-icon-share-file: "\e625";
@weui-icon-alipay-file: "\e633";
@weui-icon-dollar: "\e634";
@weui-icon-database: "\e636";
@weui-icon-edit-line: "\e638";
@weui-icon-more: "\e613";
@weui-icon-mail: "\e640";
@weui-icon-record: "\e641";
@weui-icon-card: "\e672";
@weui-icon-users-three: "\e62e";
@weui-icon-wallet: "\e660";
@weui-icon-more-v: "\e61c";
@weui-icon-chats: "\e614";
@weui-icon-user: "\e7f8";
@weui-icon-list-menus: "\e622";
@weui-icon-scan: "\e642";
@weui-icon-share: "\e615";
@weui-icon-home: "\e601";
@weui-icon-hand-up: "\ecf6";
@weui-icon-rmb: "\e607";
@weui-icon-alarm: "\e605";
@weui-icon-image: "\e611";
@weui-icon-edit: "\e64f";
@weui-icon-service: "\e650";
@weui-icon-location: "\e653";
@weui-icon-gift: "\e659";
@weui-icon-setting: "\e610";
@weui-icon-Key: "\e616";
@weui-icon-star-fill: "\e60b";
@weui-icon-arrow-right: "\e60c";
@weui-icon-arrow-left: "\e60d";
@weui-icon-arrow-down: "\ea1a";
@weui-icon-arrow-down-circle-right: "\e602";
@weui-icon-arrow-up-circle-up: "\e618";
@weui-icon-arrow-left-circle-left: "\e61a";
@weui-icon-hand-down: "\e91c";
@weui-icon-circle: "\ea01";
@weui-icon-download: "\ea02";
@weui-icon-info: "\ea03";
@weui-icon-safe_success: "\ea04";
@weui-icon-safe_warn: "\ea05";
@weui-icon-success: "\ea06";
@weui-icon-success-circle: "\ea07";
@weui-icon-success-no-circle: "\ea08";
@weui-icon-waiting: "\ea09";
@weui-icon-waiting-circle: "\ea0a";
@weui-icon-warn: "\ea0b";
@weui-icon-info-circle: "\ea0c";
@weui-icon-cancel: "\ea0d";
@weui-icon-search: "\ea0e";
@weui-icon-clear: "\ea0f";
@weui-icon-back: "\ea10";
@weui-icon-delete: "\ea11";
@weui-icon-rocket: "\e900";


@font-face {
  font-family: 'weui';
  src:  url('@{font-path}/weui.eot?4violn');
  src:  url('@{font-path}/weui.eot?4violn#iefix') format('embedded-opentype'),
  url('@{font-path}/weui.ttf?4violn') format('truetype'),
  url('@{font-path}/weui.woff?4violn') format('woff'),
  url('@{font-path}/weui.svg?4violn#weui') format('svg');
  font-weight: normal;
  font-style: normal;
}


i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'weui' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.weui-icon-heart-fill {
  &:before {
    content: @weui-icon-heart-fill;
  }
}
.weui-icon-unquote {
  &:before {
    content: @weui-icon-unquote;
  }
}
.weui-icon-pencil {
  &:before {
    content: @weui-icon-pencil;
  }
}
.weui-icon-wepay {
  &:before {
    content: @weui-icon-wepay;
  }
}
.weui-icon-sale-fill {
  &:before {
    content: @weui-icon-sale-fill;
  }
}
.weui-icon-broken-heart {
  &:before {
    content: @weui-icon-broken-heart;
  }
}
.weui-icon-alipay {
  &:before {
    content: @weui-icon-alipay;
  }
}
.weui-icon-loadings {
  &:before {
    content: @weui-icon-loadings;
  }
}
.weui-icon-loading-one {
  &:before {
    content: @weui-icon-loading-one;
  }
}
.weui-icon-quote {
  &:before {
    content: @weui-icon-quote;
  }
}
.weui-icon-check-empty {
  &:before {
    content: @weui-icon-check-empty;
  }
}
.weui-icon-desktop {
  &:before {
    content: @weui-icon-desktop;
  }
}
.weui-icon-laptop {
  &:before {
    content: @weui-icon-laptop;
  }
}
.weui-icon-tablet {
  &:before {
    content: @weui-icon-tablet;
  }
}
.weui-icon-mobile {
  &:before {
    content: @weui-icon-mobile;
  }
}
.weui-icon-apple {
  &:before {
    content: @weui-icon-apple;
  }
}
.weui-icon-android {
  &:before {
    content: @weui-icon-android;
  }
}
.weui-icon-tencent-weibo {
  &:before {
    content: @weui-icon-tencent-weibo;
  }
}
.weui-icon-bicycle {
  &:before {
    content: @weui-icon-bicycle;
  }
}
.weui-icon-motorcycle {
  &:before {
    content: @weui-icon-motorcycle;
  }
}
.weui-icon-venus {
  &:before {
    content: @weui-icon-venus;
  }
}
.weui-icon-mars {
  &:before {
    content: @weui-icon-mars;
  }
}
.weui-icon-mercury {
  &:before {
    content: @weui-icon-mercury;
  }
}
.weui-icon-transgender {
  &:before {
    content: @weui-icon-transgender;
  }
}
.weui-icon-transgender-alt {
  &:before {
    content: @weui-icon-transgender-alt;
  }
}
.weui-icon-venus-double {
  &:before {
    content: @weui-icon-venus-double;
  }
}
.weui-icon-mars-double {
  &:before {
    content: @weui-icon-mars-double;
  }
}
.weui-icon-venus-mars {
  &:before {
    content: @weui-icon-venus-mars;
  }
}
.weui-icon-mars-stroke {
  &:before {
    content: @weui-icon-mars-stroke;
  }
}
.weui-icon-mars-stroke-up {
  &:before {
    content: @weui-icon-mars-stroke-up;
  }
}
.weui-icon-mars-stroke-right {
  &:before {
    content: @weui-icon-mars-stroke-right;
  }
}
.weui-icon-neuter {
  &:before {
    content: @weui-icon-neuter;
  }
}
.weui-icon-battery-half {
  &:before {
    content: @weui-icon-battery-half;
  }
}
.weui-icon-battery-empty {
  &:before {
    content: @weui-icon-battery-empty;
  }
}
.weui-icon-hourglass-up {
  &:before {
    content: @weui-icon-hourglass-up;
  }
}
.weui-icon-hourglass-down {
  &:before {
    content: @weui-icon-hourglass-down;
  }
}
.weui-icon-usb {
  &:before {
    content: @weui-icon-usb;
  }
}
.weui-icon-blue-tooth {
  &:before {
    content: @weui-icon-blue-tooth;
  }
}
.weui-icon-thermometer-half {
  &:before {
    content: @weui-icon-thermometer-half;
  }
}
.weui-icon-microchip {
  &:before {
    content: @weui-icon-microchip;
  }
}
.weui-icon-snowflake {
  &:before {
    content: @weui-icon-snowflake;
  }
}
.weui-icon-hand-left {
  &:before {
    content: @weui-icon-hand-left;
  }
}
.weui-icon-qrcode {
  &:before {
    content: @weui-icon-qrcode;
  }
}
.weui-icon-hand-right {
  &:before {
    content: @weui-icon-hand-right;
  }
}
.weui-icon-message-o {
  &:before {
    content: @weui-icon-message-o;
  }
}
.weui-icon-camera {
  &:before {
    content: @weui-icon-camera;
  }
}
.weui-icon-star {
  &:before {
    content: @weui-icon-star;
  }
}
.weui-icon-coupon {
  &:before {
    content: @weui-icon-coupon;
  }
}
.weui-icon-coupon-c {
  &:before {
    content: @weui-icon-coupon-c;
  }
}
.weui-icon-coupon-o {
  &:before {
    content: @weui-icon-coupon-o;
  }
}
.weui-icon-arrow-up {
  &:before {
    content: @weui-icon-arrow-up;
  }
}
.weui-icon-message-file {
  &:before {
    content: @weui-icon-message-file;
  }
}
.weui-icon-arrow-down-circle {
  &:before {
    content: @weui-icon-arrow-down-circle;
  }
}
.weui-icon-menus {
  &:before {
    content: @weui-icon-menus;
  }
}
.weui-icon-checked {
  &:before {
    content: @weui-icon-checked;
  }
}
.weui-icon-clock {
  &:before {
    content: @weui-icon-clock;
  }
}
.weui-icon-order {
  &:before {
    content: @weui-icon-order;
  }
}
.weui-icon-alarm-clock {
  &:before {
    content: @weui-icon-alarm-clock;
  }
}
.weui-icon-users {
  &:before {
    content: @weui-icon-users;
  }
}
.weui-icon-refresh {
  &:before {
    content: @weui-icon-refresh;
  }
}
.weui-icon-lock {
  &:before {
    content: @weui-icon-lock;
  }
}
.weui-icon-heart {
  &:before {
    content: @weui-icon-heart;
  }
}
.weui-icon-question {
  &:before {
    content: @weui-icon-question;
  }
}
.weui-icon-car {
  &:before {
    content: @weui-icon-car;
  }
}
.weui-icon-wifi {
  &:before {
    content: @weui-icon-wifi;
  }
}
.weui-icon-favour {
  &:before {
    content: @weui-icon-favour;
  }
}
.weui-icon-share-file {
  &:before {
    content: @weui-icon-share-file;
  }
}
.weui-icon-alipay-file {
  &:before {
    content: @weui-icon-alipay-file;
  }
}
.weui-icon-dollar {
  &:before {
    content: @weui-icon-dollar;
  }
}
.weui-icon-database {
  &:before {
    content: @weui-icon-database;
  }
}
.weui-icon-edit-line {
  &:before {
    content: @weui-icon-edit-line;
  }
}
.weui-icon-more {
  &:before {
    content: @weui-icon-more;
  }
}
.weui-icon-mail {
  &:before {
    content: @weui-icon-mail;
  }
}
.weui-icon-record {
  &:before {
    content: @weui-icon-record;
  }
}
.weui-icon-card {
  &:before {
    content: @weui-icon-card;
  }
}
.weui-icon-users-three {
  &:before {
    content: @weui-icon-users-three;
  }
}
.weui-icon-wallet {
  &:before {
    content: @weui-icon-wallet;
  }
}
.weui-icon-more-v {
  &:before {
    content: @weui-icon-more-v;
  }
}
.weui-icon-chats {
  &:before {
    content: @weui-icon-chats;
  }
}
.weui-icon-user {
  &:before {
    content: @weui-icon-user;
  }
}
.weui-icon-list-menus {
  &:before {
    content: @weui-icon-list-menus;
  }
}
.weui-icon-scan {
  &:before {
    content: @weui-icon-scan;
  }
}
.weui-icon-share {
  &:before {
    content: @weui-icon-share;
  }
}
.weui-icon-home {
  &:before {
    content: @weui-icon-home;
  }
}
.weui-icon-hand-up {
  &:before {
    content: @weui-icon-hand-up;
  }
}
.weui-icon-rmb {
  &:before {
    content: @weui-icon-rmb;
  }
}
.weui-icon-alarm {
  &:before {
    content: @weui-icon-alarm;
  }
}
.weui-icon-image {
  &:before {
    content: @weui-icon-image;
  }
}
.weui-icon-edit {
  &:before {
    content: @weui-icon-edit;
  }
}
.weui-icon-service {
  &:before {
    content: @weui-icon-service;
  }
}
.weui-icon-location {
  &:before {
    content: @weui-icon-location;
  }
}
.weui-icon-gift {
  &:before {
    content: @weui-icon-gift;
  }
}
.weui-icon-setting {
  &:before {
    content: @weui-icon-setting;
  }
}
.weui-icon-Key {
  &:before {
    content: @weui-icon-Key;
  }
}
.weui-icon-star-fill {
  &:before {
    content: @weui-icon-star-fill;
  }
}
.weui-icon-arrow-right {
  &:before {
    content: @weui-icon-arrow-right;
  }
}
.weui-icon-arrow-left {
  &:before {
    content: @weui-icon-arrow-left;
  }
}
.weui-icon-arrow-down {
  &:before {
    content: @weui-icon-arrow-down;
  }
}
.weui-icon-arrow-down-circle-right {
  &:before {
    content: @weui-icon-arrow-down-circle-right;
  }
}
.weui-icon-arrow-up-circle-up {
  &:before {
    content: @weui-icon-arrow-up-circle-up;
  }
}
.weui-icon-arrow-left-circle-left {
  &:before {
    content: @weui-icon-arrow-left-circle-left;
  }
}
.weui-icon-hand-down {
  &:before {
    content: @weui-icon-hand-down;
  }
}
.weui-icon-circle {
  &:before {
    content: @weui-icon-circle;
  }
}
.weui-icon-download {
  &:before {
    content: @weui-icon-download;
  }
}
.weui-icon-info {
  &:before {
    content: @weui-icon-info;
  }
}
.weui-icon-safe_success {
  &:before {
    content: @weui-icon-safe_success;
  }
}
.weui-icon-safe_warn {
  &:before {
    content: @weui-icon-safe_warn;
  }
}
.weui-icon-success {
  &:before {
    content: @weui-icon-success;
  }
}
.weui-icon-success-circle {
  &:before {
    content: @weui-icon-success-circle;
  }
}
.weui-icon-success-no-circle {
  &:before {
    content: @weui-icon-success-no-circle;
  }
}
.weui-icon-waiting {
  &:before {
    content: @weui-icon-waiting;
  }
}
.weui-icon-waiting-circle {
  &:before {
    content: @weui-icon-waiting-circle;
  }
}
.weui-icon-warn {
  &:before {
    content: @weui-icon-warn;
  }
}
.weui-icon-info-circle {
  &:before {
    content: @weui-icon-info-circle;
  }
}
.weui-icon-cancel {
  &:before {
    content: @weui-icon-cancel;
  }
}
.weui-icon-search {
  &:before {
    content: @weui-icon-search;
  }
}
.weui-icon-clear {
  &:before {
    content: @weui-icon-clear;
  }
}
.weui-icon-back {
  &:before {
    content: @weui-icon-back;
  }
}
.weui-icon-delete {
  &:before {
    content: @weui-icon-delete;
  }
}
.weui-icon-rocket {
  &:before {
    content: @weui-icon-rocket;
  }
}