
@import "weui-icon-var";

[class^="weui-icon_"]:before, [class*=" weui-icon_"]:before {
  margin: 0;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'weui' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.weui-icon-heart-fill {
  &:before {
    content: @weui-icon-heart-fill;
  }
}
.weui-icon-unquote {
  &:before {
    content: @weui-icon-unquote;
  }
}
.weui-icon-pencil {
  &:before {
    content: @weui-icon-pencil;
  }
}
.weui-icon-wepay {
  &:before {
    content: @weui-icon-wepay;
  }
}
.weui-icon-sale-fill {
  &:before {
    content: @weui-icon-sale-fill;
  }
}
.weui-icon-broken-heart {
  &:before {
    content: @weui-icon-broken-heart;
  }
}
.weui-icon-alipay {
  &:before {
    content: @weui-icon-alipay;
  }
}
.weui-icon-loadings {
  &:before {
    content: @weui-icon-loadings;
  }
}
.weui-icon-loading-one {
  &:before {
    content: @weui-icon-loading-one;
  }
}
.weui-icon-quote {
  &:before {
    content: @weui-icon-quote;
  }
}
.weui-icon-check-empty {
  &:before {
    content: @weui-icon-check-empty;
  }
}
.weui-icon-desktop {
  &:before {
    content: @weui-icon-desktop;
  }
}
.weui-icon-laptop {
  &:before {
    content: @weui-icon-laptop;
  }
}
.weui-icon-tablet {
  &:before {
    content: @weui-icon-tablet;
  }
}
.weui-icon-mobile {
  &:before {
    content: @weui-icon-mobile;
  }
}
.weui-icon-apple {
  &:before {
    content: @weui-icon-apple;
  }
}
.weui-icon-android {
  &:before {
    content: @weui-icon-android;
  }
}
.weui-icon-tencent-weibo {
  &:before {
    content: @weui-icon-tencent-weibo;
  }
}
.weui-icon-bicycle {
  &:before {
    content: @weui-icon-bicycle;
  }
}
.weui-icon-motorcycle {
  &:before {
    content: @weui-icon-motorcycle;
  }
}
.weui-icon-venus {
  &:before {
    content: @weui-icon-venus;
  }
}
.weui-icon-mars {
  &:before {
    content: @weui-icon-mars;
  }
}
.weui-icon-mercury {
  &:before {
    content: @weui-icon-mercury;
  }
}
.weui-icon-transgender {
  &:before {
    content: @weui-icon-transgender;
  }
}
.weui-icon-transgender-alt {
  &:before {
    content: @weui-icon-transgender-alt;
  }
}
.weui-icon-venus-double {
  &:before {
    content: @weui-icon-venus-double;
  }
}
.weui-icon-mars-double {
  &:before {
    content: @weui-icon-mars-double;
  }
}
.weui-icon-venus-mars {
  &:before {
    content: @weui-icon-venus-mars;
  }
}
.weui-icon-mars-stroke {
  &:before {
    content: @weui-icon-mars-stroke;
  }
}
.weui-icon-mars-stroke-up {
  &:before {
    content: @weui-icon-mars-stroke-up;
  }
}
.weui-icon-mars-stroke-right {
  &:before {
    content: @weui-icon-mars-stroke-right;
  }
}
.weui-icon-neuter {
  &:before {
    content: @weui-icon-neuter;
  }
}
.weui-icon-battery-half {
  &:before {
    content: @weui-icon-battery-half;
  }
}
.weui-icon-battery-empty {
  &:before {
    content: @weui-icon-battery-empty;
  }
}
.weui-icon-hourglass-up {
  &:before {
    content: @weui-icon-hourglass-up;
  }
}
.weui-icon-hourglass-down {
  &:before {
    content: @weui-icon-hourglass-down;
  }
}
.weui-icon-usb {
  &:before {
    content: @weui-icon-usb;
  }
}
.weui-icon-blue-tooth {
  &:before {
    content: @weui-icon-blue-tooth;
  }
}
.weui-icon-thermometer-half {
  &:before {
    content: @weui-icon-thermometer-half;
  }
}
.weui-icon-microchip {
  &:before {
    content: @weui-icon-microchip;
  }
}
.weui-icon-snowflake {
  &:before {
    content: @weui-icon-snowflake;
  }
}
.weui-icon-hand-left {
  &:before {
    content: @weui-icon-hand-left;
  }
}
.weui-icon-qrcode {
  &:before {
    content: @weui-icon-qrcode;
  }
}
.weui-icon-hand-right {
  &:before {
    content: @weui-icon-hand-right;
  }
}
.weui-icon-message-o {
  &:before {
    content: @weui-icon-message-o;
  }
}
.weui-icon-camera {
  &:before {
    content: @weui-icon-camera;
  }
}
.weui-icon-star {
  &:before {
    content: @weui-icon-star;
  }
}
.weui-icon-coupon {
  &:before {
    content: @weui-icon-coupon;
  }
}
.weui-icon-coupon-c {
  &:before {
    content: @weui-icon-coupon-c;
  }
}
.weui-icon-coupon-o {
  &:before {
    content: @weui-icon-coupon-o;
  }
}
.weui-icon-arrow-up {
  &:before {
    content: @weui-icon-arrow-up;
  }
}
.weui-icon-message-file {
  &:before {
    content: @weui-icon-message-file;
  }
}
.weui-icon-arrow-down-circle {
  &:before {
    content: @weui-icon-arrow-down-circle;
  }
}
.weui-icon-menus {
  &:before {
    content: @weui-icon-menus;
  }
}
.weui-icon-clock {
  &:before {
    content: @weui-icon-clock;
  }
}
.weui-icon-order {
  &:before {
    content: @weui-icon-order;
  }
}
.weui-icon-alarm-clock {
  &:before {
    content: @weui-icon-alarm-clock;
  }
}
.weui-icon-users {
  &:before {
    content: @weui-icon-users;
  }
}
.weui-icon-refresh {
  &:before {
    content: @weui-icon-refresh;
  }
}
.weui-icon-lock {
  &:before {
    content: @weui-icon-lock;
  }
}
.weui-icon-heart {
  &:before {
    content: @weui-icon-heart;
  }
}
.weui-icon-question {
  &:before {
    content: @weui-icon-question;
  }
}
.weui-icon-car {
  &:before {
    content: @weui-icon-car;
  }
}
.weui-icon-wifi {
  &:before {
    content: @weui-icon-wifi;
  }
}
.weui-icon-favour {
  &:before {
    content: @weui-icon-favour;
  }
}
.weui-icon-share-file {
  &:before {
    content: @weui-icon-share-file;
  }
}
.weui-icon-alipay-file {
  &:before {
    content: @weui-icon-alipay-file;
  }
}
.weui-icon-dollar {
  &:before {
    content: @weui-icon-dollar;
  }
}
.weui-icon-database {
  &:before {
    content: @weui-icon-database;
  }
}
.weui-icon-edit-line {
  &:before {
    content: @weui-icon-edit-line;
  }
}
.weui-icon-more {
  &:before {
    content: @weui-icon-more;
  }
}
.weui-icon-mail {
  &:before {
    content: @weui-icon-mail;
  }
}
.weui-icon-record {
  &:before {
    content: @weui-icon-record;
  }
}
.weui-icon-card {
  &:before {
    content: @weui-icon-card;
  }
}
.weui-icon-users-three {
  &:before {
    content: @weui-icon-users-three;
  }
}
.weui-icon-wallet {
  &:before {
    content: @weui-icon-wallet;
  }
}
.weui-icon-more-v {
  &:before {
    content: @weui-icon-more-v;
  }
}
.weui-icon-chats {
  &:before {
    content: @weui-icon-chats;
  }
}
.weui-icon-user {
  &:before {
    content: @weui-icon-user;
  }
}
.weui-icon-list-menus {
  &:before {
    content: @weui-icon-list-menus;
  }
}
.weui-icon-scan {
  &:before {
    content: @weui-icon-scan;
  }
}
.weui-icon-share {
  &:before {
    content: @weui-icon-share;
  }
}
.weui-icon-home {
  &:before {
    content: @weui-icon-home;
  }
}
.weui-icon-hand-up {
  &:before {
    content: @weui-icon-hand-up;
  }
}
.weui-icon-rmb {
  &:before {
    content: @weui-icon-rmb;
  }
}
.weui-icon-alarm {
  &:before {
    content: @weui-icon-alarm;
  }
}
.weui-icon-image {
  &:before {
    content: @weui-icon-image;
  }
}
.weui-icon-edit {
  &:before {
    content: @weui-icon-edit;
  }
}
.weui-icon-service {
  &:before {
    content: @weui-icon-service;
  }
}
.weui-icon-location {
  &:before {
    content: @weui-icon-location;
  }
}
.weui-icon-gift {
  &:before {
    content: @weui-icon-gift;
  }
}
.weui-icon-setting {
  &:before {
    content: @weui-icon-setting;
  }
}
.weui-icon-Key {
  &:before {
    content: @weui-icon-Key;
  }
}
.weui-icon-star-fill {
  &:before {
    content: @weui-icon-star-fill;
  }
}
.weui-icon-arrow-right {
  &:before {
    content: @weui-icon-arrow-right;
  }
}
.weui-icon-arrow-left {
  &:before {
    content: @weui-icon-arrow-left;
  }
}
.weui-icon-arrow-down {
  &:before {
    content: @weui-icon-arrow-down;
  }
}
.weui-icon-arrow-down-circle-right {
  &:before {
    content: @weui-icon-arrow-down-circle-right;
  }
}
.weui-icon-arrow-up-circle-up {
  &:before {
    content: @weui-icon-arrow-up-circle-up;
  }
}
.weui-icon-arrow-left-circle-left {
  &:before {
    content: @weui-icon-arrow-left-circle-left;
  }
}
.weui-icon-hand-down {
  &:before {
    content: @weui-icon-hand-down;
  }
}
.weui-icon-circle {
  &:before {
    content: @weui-icon-circle;
  }
}
.weui-icon-download {
  &:before {
    content: @weui-icon-download;
  }
}
.weui-icon-info {
  &:before {
    content: @weui-icon-info;
  }
}
.weui-icon-safe_success {
  &:before {
    content: @weui-icon-safe_success;
  }
}
.weui-icon-safe_warn {
  &:before {
    content: @weui-icon-safe_warn;
  }
}
.weui-icon-success {
  &:before {
    content: @weui-icon-success;
  }
}
.weui-icon-success-circle {
  &:before {
    content: @weui-icon-success-circle;
  }
}
.weui-icon-success-no-circle {
  &:before {
    content: @weui-icon-success-no-circle;
  }
}
.weui-icon-waiting {
  &:before {
    content: @weui-icon-waiting;
  }
}
.weui-icon-waiting-circle {
  &:before {
    content: @weui-icon-waiting-circle;
  }
}
.weui-icon-warn {
  &:before {
    content: @weui-icon-warn;
  }
}
.weui-icon-info-circle {
  &:before {
    content: @weui-icon-info-circle;
  }
}
.weui-icon-cancel {
  &:before {
    content: @weui-icon-cancel;
  }
}
.weui-icon-search {
  &:before {
    content: @weui-icon-search;
  }
}
.weui-icon-clear {
  &:before {
    content: @weui-icon-clear;
  }
}
.weui-icon-back {
  &:before {
    content: @weui-icon-back;
  }
}
.weui-icon-delete {
  &:before {
    content: @weui-icon-delete;
  }
}
.weui-icon-rocket {
  &:before {
    content: @weui-icon-rocket;
  }
}