@font-path: "../fonts";

@font-face {
  font-family: 'weui';
  src:  url('@{font-path}/weui.eot?4violn');
  src:  url('@{font-path}/weui.eot?4violn#iefix') format('embedded-opentype'),
  url('@{font-path}/weui.ttf?4violn') format('truetype'),
  url('@{font-path}/weui.woff?4violn') format('woff'),
  url('@{font-path}/weui.svg?4violn#weui') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="weui-icon-"], [class*=" weui-icon-"] {
  display: inline-block;
  vertical-align: middle;
  font: normal normal normal 14px/1 "weui";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  &:before{
    display: inline-block;
    margin-left: .2em;
    margin-right: .2em;
  }
}

@weui-icon-home: "\e601";
@weui-icon-arrow-down-circle-right: "\e602";
@weui-icon-heart-fill: "\e603";
@weui-icon-alarm-clock: "\e604";
@weui-icon-alarm: "\e605";
@weui-icon-unquote: "\e606";
@weui-icon-rmb: "\e607";
@weui-icon-coupon: "\e608";
@weui-icon-menus: "\e609";
@weui-icon-star-fill: "\e60b";
@weui-icon-arrow-right: "\e60c";
@weui-icon-arrow-left: "\e60d";
@weui-icon-coupon-o: "\e60e";
@weui-icon-setting: "\e610";
@weui-icon-pencil: "\e612";
@weui-icon-more: "\e613";
@weui-icon-share: "\e615";
@weui-icon-Key: "\e616";
@weui-icon-wepay: "\e617";
@weui-icon-arrow-up-circle-up: "\e618";
@weui-icon-sale-fill: "\e619";
@weui-icon-arrow-left-circle-left: "\e61a";
@weui-icon-more-v: "\e61c";
@weui-icon-car: "\e61d";
@weui-icon-wifi: "\e61e";
@weui-icon-list-menus: "\e622";
@weui-icon-favour: "\e623";
@weui-icon-checked: "\e624";
@weui-icon-share-file: "\e625";
@weui-icon-arrow-up: "\e626";
@weui-icon-star: "\e627";
@weui-icon-lock: "\e62c";
@weui-icon-message-o: "\e62d";
@weui-icon-users-three: "\e62e";
@weui-icon-clock: "\e62f";
@weui-icon-alipay-file: "\e633";
@weui-icon-dollar: "\e634";
@weui-icon-question: "\e635";
@weui-icon-database: "\e636";
@weui-icon-edit-line: "\e638";
@weui-icon-mail: "\e640";
@weui-icon-record: "\e641";
@weui-icon-scan: "\e642";
@weui-icon-arrow-down-circle: "\e644";
@weui-icon-edit: "\e64f";
@weui-icon-service: "\e650";
@weui-icon-location: "\e653";
@weui-icon-hand-left: "\e654";
@weui-icon-gift: "\e659";
@weui-icon-message-file: "\e65c";
@weui-icon-wallet: "\e660";
@weui-icon-coupon-c: "\e669";
@weui-icon-broken-heart: "\e66d";
@weui-icon-refresh: "\e66f";
@weui-icon-card: "\e672";
@weui-icon-alipay: "\e67c";
@weui-icon-users: "\e68a";
@weui-icon-hand-right: "\e6fc";
@weui-icon-user: "\e7f8";
@weui-icon-loadings: "\e834";
@weui-icon-loading-one: "\e839";
@weui-icon-rocket: "\e900";
@weui-icon-hand-down: "\e91c";
@weui-icon-order: "\e9c2";
@weui-icon-circle: "\ea01";
@weui-icon-download: "\ea02";
@weui-icon-info: "\ea03";
@weui-icon-safe_success: "\ea04";
@weui-icon-safe_warn: "\ea05";
@weui-icon-success: "\ea06";
@weui-icon-success-circle: "\ea07";
@weui-icon-success-no-circle: "\ea08";
@weui-icon-waiting: "\ea09";
@weui-icon-waiting-circle: "\ea0a";
@weui-icon-warn: "\ea0b";
@weui-icon-info-circle: "\ea0c";
@weui-icon-cancel: "\ea0d";
@weui-icon-search: "\ea0e";
@weui-icon-clear: "\ea0f";
@weui-icon-back: "\ea10";
@weui-icon-delete: "\ea11";
@weui-icon-arrow-down: "\ea1a";
@weui-icon-hand-up: "\ecf6";
@weui-icon-quote: "\efd7";
@weui-icon-check-empty: "\f096";
@weui-icon-apple: "\f179";
@weui-icon-android: "\f17b";
@weui-icon-tencent-weibo: "\f1d5";
@weui-icon-bicycle: "\f206";
@weui-icon-motorcycle: "\f21c";
@weui-icon-venus: "\f221";
@weui-icon-mars: "\f222";
@weui-icon-mercury: "\f223";
@weui-icon-transgender: "\f224";
@weui-icon-transgender-alt: "\f225";
@weui-icon-venus-double: "\f226";
@weui-icon-mars-double: "\f227";
@weui-icon-venus-mars: "\f228";
@weui-icon-mars-stroke: "\f229";
@weui-icon-mars-stroke-up: "\f22a";
@weui-icon-mars-stroke-right: "\f22b";
@weui-icon-neuter: "\f22c";
@weui-icon-battery-half: "\f242";
@weui-icon-battery-empty: "\f244";
@weui-icon-hourglass-up: "\f251";
@weui-icon-hourglass-down: "\f253";
@weui-icon-usb: "\f287";
@weui-icon-blue-tooth: "\f294";
@weui-icon-thermometer-half: "\f2c9";
@weui-icon-microchip: "\f2db";
@weui-icon-snowflake: "\f2dc";
@weui-icon-quill: "\e907";
@weui-icon-image: "\e90d";
@weui-icon-images: "\e90e";
@weui-icon-camera: "\e90f";
@weui-icon-headphones: "\e910";
@weui-icon-music: "\e911";
@weui-icon-play: "\e912";
@weui-icon-barcode: "\e937";
@weui-icon-qrcode: "\e938";
@weui-icon-cart: "\e93a";
@weui-icon-compass: "\e949";
@weui-icon-display: "\e956";
@weui-icon-laptop: "\e957";
@weui-icon-mobile: "\e958";
@weui-icon-mobile2: "\e959";
@weui-icon-undo2: "\e967";
@weui-icon-redo2: "\e968";
@weui-icon-forward: "\e969";
@weui-icon-reply: "\e96a";
@weui-icon-bubble: "\e96b";
@weui-icon-bubbles: "\e96c";
@weui-icon-bubbles2: "\e96d";
@weui-icon-happy: "\e9df";
@weui-icon-happy2: "\e9e0";
@weui-icon-smile: "\e9e1";
@weui-icon-smile2: "\e9e2";
@weui-icon-tongue: "\e9e3";
@weui-icon-tongue2: "\e9e4";
@weui-icon-sad: "\e9e5";
@weui-icon-sad2: "\e9e6";
@weui-icon-wink: "\e9e7";
@weui-icon-wink2: "\e9e8";
@weui-icon-grin: "\e9e9";
@weui-icon-grin2: "\e9ea";
@weui-icon-cool: "\e9eb";
@weui-icon-cool2: "\e9ec";
@weui-icon-angry: "\e9ed";
@weui-icon-angry2: "\e9ee";
@weui-icon-evil: "\e9ef";
@weui-icon-evil2: "\e9f0";
@weui-icon-shocked: "\e9f1";
@weui-icon-shocked2: "\e9f2";
@weui-icon-baffled: "\e9f3";
@weui-icon-baffled2: "\e9f4";
@weui-icon-confused: "\e9f5";
@weui-icon-confused2: "\e9f6";
@weui-icon-neutral: "\e9f7";
@weui-icon-neutral2: "\e9f8";
@weui-icon-hipster: "\e9f9";
@weui-icon-hipster2: "\e9fa";
@weui-icon-wondering: "\e9fb";
@weui-icon-wondering2: "\e9fc";
@weui-icon-sleepy: "\e9fd";
@weui-icon-sleepy2: "\e9fe";
@weui-icon-frustrated: "\e9ff";
@weui-icon-frustrated2: "\ea00";
@weui-icon-crying: "\ea12";
@weui-icon-crying2: "\ea13";
@weui-icon-plus: "\ea14";
@weui-icon-minus: "\ea15";
@weui-icon-play2: "\ea16";
@weui-icon-pause: "\ea17";
@weui-icon-stop: "\ea18";