@icomoon-font-path: "fonts";

@icon-arrow-up-l: "\e900";
@icon-arrow-left-l: "\e901";
@icon-minus: "\e600";
@icon-arrow-up-circle: "\e628";
@icon-phone: "\e603";
@icon-share: "\e61d";
@icon-fresh-circle: "\e601";
@icon-bubble: "\e624";
@icon-cart: "\e60e";
@icon-more: "\e607";
@icon-info: "\e608";
@icon-cogs: "\e73e";
@icon-mars: "\e736";
@icon-key: "\e604";
@icon-folder: "\e6ba";
@icon-head-phones: "\e662";
@icon-comments: "\e6fc";
@icon-sun: "\e602";
@icon-users: "\e663";
@icon-bookmarks: "\e741";
@icon-barcode: "\e61e";
@icon-statsbars: "\e76a";
@icon-bubble-o: "\e6fd";
@icon-bookmark: "\e60d";
@icon-open-folder: "\e62b";
@icon-comment: "\e609";
@icon-connection: "\e85f";
@icon-lock: "\e6d2";
@icon-coupon-rmb: "\e6b2";
@icon-icon1: "\e61c";
@icon-chain-broken: "\e679";
@icon-cc-lock: "\e66b";
@icon-link: "\e664";
@icon-camera: "\e63d";
@icon-trash: "\e60c";
@icon-yen: "\e610";
@icon-more-dot-h: "\e605";
@icon-share-circle: "\e690";
@icon-checkmark: "\e661";
@icon-coupon-h: "\e615";
@icon-unquote: "\e606";
@icon-happy: "\e60a";
@icon-arrow-down-h: "\e60b";
@icon-bell-alarm: "\e60f";
@icon-cog: "\e62c";
@icon-setting: "\e64c";
@icon-map: "\e614";
@icon-bar-chart: "\e611";
@icon-calculator: "\e66a";
@icon-feedback: "\e670";
@icon-pencil: "\e612";
@icon-arrow-left-line: "\e616";
@icon-close: "\e618";
@icon-checked: "\e61a";
@icon-question-o: "\e61b";
@icon-edit-line: "\e61f";
@icon-menus: "\e623";
@icon-search: "\e625";
@icon-close-simple: "\e629";
@icon-qrcode-scan: "\e631";
@icon-heart-o: "\e632";
@icon-user: "\e633";
@icon-3lishi: "\e634";
@icon-gift: "\e635";
@icon-location-o: "\e636";
@icon-equalizer: "\e665";
@icon-share-o: "\e669";
@icon-phone-o: "\e637";
@icon-share-h: "\e638";
@icon-calendar: "\e685";
@icon-books: "\e6a4";
@icon-pie-chart: "\e729";
@icon-shop-cart: "\e63c";
@icon-bubbles: "\e6de";
@icon-enter: "\e63e";
@icon-star: "\e63f";
@icon-clock: "\e640";
@icon-praise: "\e641";
@icon-trucks: "\e67a";
@icon-zoomin: "\e76d";
@icon-zoomout: "\e76e";
@icon-star-o: "\e642";
@icon-share-line: "\e6f9";
@icon-microphone: "\e643";
@icon-mobile: "\e726";
@icon-qq: "\e644";
@icon-coupon-line: "\e6c8";
@icon-arrow-up-o: "\e6e3";
@icon-card: "\e646";
@icon-plus: "\e648";
@icon-order: "\e649";
@icon-weibo: "\e64b";
@icon-red-packet: "\e69d";
@icon-upload: "\e69f";
@icon-arrow-down-o: "\e6df";
@icon-heart-full: "\e64e";
@icon-link1: "\e64f";
@icon-tree: "\e835";
@icon-hand-up: "\e652";
@icon-hand-right: "\e653";
@icon-hand-left: "\e654";
@icon-chain: "\e776";
@icon-eye-slash: "\e7aa";
@icon-eye: "\e7ab";
@icon-line-chart: "\e7fd";
@icon-smile: "\e655";
@icon-address-book: "\e657";
@icon-fresh: "\e6a8";
@icon-more-vertical: "\e659";
@icon-dollar: "\e65a";
@icon-cancel: "\e73d";
@icon-arrow-down-l: "\e65c";
@icon-user-tie: "\e666";
@icon-gift-line: "\e78f";
@icon-barcode-scan: "\e6a0";
@icon-invalid: "\e65e";
@icon-credit-card: "\e81b";
@icon-hand-down: "\e840";
@icon-tablet: "\e8b4";
@icon-home: "\e65f";
@icon-switch: "\e6a9";
@icon-arrow-up-h: "\e68e";
@icon-next: "\e7c4";
@icon-tree-org: "\e660";
@icon-arrow-right-h: "\e668";
@icon-qrcode: "\e763";
@icon-image: "\e6b1";
@icon-sad: "\e704";
@icon-file: "\e66c";
@icon-heart-broken: "\e6d9";
@icon-quote: "\e66d";
@icon-display: "\e66e";
@icon-weixin: "\e66f";
@icon-tree-menu: "\e671";
@icon-hand: "\e686";
@icon-envelope: "\efd1";
@icon-file-text: "\efd2";
@icon-music: "\efd6";

