@import "wue-icon-var";

@icon-font-path: "../fonts/";

@font-face {
  font-family: 'icon';
  src:  url('@{icon-font-path}/wue-icon.eot?8tfw31');
  src:  url('@{icon-font-path}/wue-icon.eot?8tfw31#iefix') format('embedded-opentype'),
    url('@{icon-font-path}/wue-icon.ttf?8tfw31') format('truetype'),
    url('@{icon-font-path}/wue-icon.woff?8tfw31') format('woff'),
    url('@{icon-font-path}/wue-icon.svg?8tfw31#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up-l {
  &:before {
    content: @icon-arrow-up-l;
  }
}
.icon-arrow-left-l {
  &:before {
    content: @icon-arrow-left-l;
  }
}
.icon-minus {
  &:before {
    content: @icon-minus;
  }
}
.icon-arrow-up-circle {
  &:before {
    content: @icon-arrow-up-circle;
  }
}
.icon-phone {
  &:before {
    content: @icon-phone;
  }
}
.icon-share {
  &:before {
    content: @icon-share;
  }
}
.icon-fresh-circle {
  &:before {
    content: @icon-fresh-circle;
  }
}
.icon-bubble {
  &:before {
    content: @icon-bubble;
  }
}
.icon-cart {
  &:before {
    content: @icon-cart;
  }
}
.icon-more {
  &:before {
    content: @icon-more;
  }
}
.icon-info {
  &:before {
    content: @icon-info;
  }
}
.icon-cogs {
  &:before {
    content: @icon-cogs;
  }
}
.icon-mars {
  &:before {
    content: @icon-mars;
  }
}
.icon-key {
  &:before {
    content: @icon-key;
  }
}
.icon-folder {
  &:before {
    content: @icon-folder;
  }
}
.icon-head-phones {
  &:before {
    content: @icon-head-phones;
  }
}
.icon-comments {
  &:before {
    content: @icon-comments;
  }
}
.icon-sun {
  &:before {
    content: @icon-sun;
  }
}
.icon-users {
  &:before {
    content: @icon-users;
  }
}
.icon-bookmarks {
  &:before {
    content: @icon-bookmarks;
  }
}
.icon-barcode {
  &:before {
    content: @icon-barcode;
  }
}
.icon-statsbars {
  &:before {
    content: @icon-statsbars;
  }
}
.icon-bubble-o {
  &:before {
    content: @icon-bubble-o;
  }
}
.icon-bookmark {
  &:before {
    content: @icon-bookmark;
  }
}
.icon-open-folder {
  &:before {
    content: @icon-open-folder;
  }
}
.icon-comment {
  &:before {
    content: @icon-comment;
  }
}
.icon-connection {
  &:before {
    content: @icon-connection;
  }
}
.icon-lock {
  &:before {
    content: @icon-lock;
  }
}
.icon-coupon-rmb {
  &:before {
    content: @icon-coupon-rmb;
  }
}
.icon-icon1 {
  &:before {
    content: @icon-icon1;
  }
}
.icon-chain-broken {
  &:before {
    content: @icon-chain-broken;
  }
}
.icon-cc-lock {
  &:before {
    content: @icon-cc-lock;
  }
}
.icon-link {
  &:before {
    content: @icon-link;
  }
}
.icon-camera {
  &:before {
    content: @icon-camera;
  }
}
.icon-trash {
  &:before {
    content: @icon-trash;
  }
}
.icon-yen {
  &:before {
    content: @icon-yen;
  }
}
.icon-more-dot-h {
  &:before {
    content: @icon-more-dot-h;
  }
}
.icon-share-circle {
  &:before {
    content: @icon-share-circle;
  }
}
.icon-checkmark {
  &:before {
    content: @icon-checkmark;
  }
}
.icon-coupon-h {
  &:before {
    content: @icon-coupon-h;
  }
}
.icon-unquote {
  &:before {
    content: @icon-unquote;
  }
}
.icon-happy {
  &:before {
    content: @icon-happy;
  }
}
.icon-arrow-down-h {
  &:before {
    content: @icon-arrow-down-h;
  }
}
.icon-bell-alarm {
  &:before {
    content: @icon-bell-alarm;
  }
}
.icon-cog {
  &:before {
    content: @icon-cog;
  }
}
.icon-setting {
  &:before {
    content: @icon-setting;
  }
}
.icon-map {
  &:before {
    content: @icon-map;
  }
}
.icon-bar-chart {
  &:before {
    content: @icon-bar-chart;
  }
}
.icon-calculator {
  &:before {
    content: @icon-calculator;
  }
}
.icon-feedback {
  &:before {
    content: @icon-feedback;
  }
}
.icon-pencil {
  &:before {
    content: @icon-pencil;
  }
}
.icon-arrow-left-line {
  &:before {
    content: @icon-arrow-left-line;
  }
}
.icon-close {
  &:before {
    content: @icon-close;
  }
}
.icon-checked {
  &:before {
    content: @icon-checked;
  }
}
.icon-question-o {
  &:before {
    content: @icon-question-o;
  }
}
.icon-edit-line {
  &:before {
    content: @icon-edit-line;
  }
}
.icon-menus {
  &:before {
    content: @icon-menus;
  }
}
.icon-search {
  &:before {
    content: @icon-search;
  }
}
.icon-close-simple {
  &:before {
    content: @icon-close-simple;
  }
}
.icon-qrcode-scan {
  &:before {
    content: @icon-qrcode-scan;
  }
}
.icon-heart-o {
  &:before {
    content: @icon-heart-o;
  }
}
.icon-user {
  &:before {
    content: @icon-user;
  }
}
.icon-3lishi {
  &:before {
    content: @icon-3lishi;
  }
}
.icon-gift {
  &:before {
    content: @icon-gift;
  }
}
.icon-location-o {
  &:before {
    content: @icon-location-o;
  }
}
.icon-equalizer {
  &:before {
    content: @icon-equalizer;
  }
}
.icon-share-o {
  &:before {
    content: @icon-share-o;
  }
}
.icon-phone-o {
  &:before {
    content: @icon-phone-o;
  }
}
.icon-share-h {
  &:before {
    content: @icon-share-h;
  }
}
.icon-calendar {
  &:before {
    content: @icon-calendar;
  }
}
.icon-books {
  &:before {
    content: @icon-books;
  }
}
.icon-pie-chart {
  &:before {
    content: @icon-pie-chart;
  }
}
.icon-shop-cart {
  &:before {
    content: @icon-shop-cart;
  }
}
.icon-bubbles {
  &:before {
    content: @icon-bubbles;
  }
}
.icon-enter {
  &:before {
    content: @icon-enter;
  }
}
.icon-star {
  &:before {
    content: @icon-star;
  }
}
.icon-clock {
  &:before {
    content: @icon-clock;
  }
}
.icon-praise {
  &:before {
    content: @icon-praise;
  }
}
.icon-trucks {
  &:before {
    content: @icon-trucks;
  }
}
.icon-zoomin {
  &:before {
    content: @icon-zoomin;
  }
}
.icon-zoomout {
  &:before {
    content: @icon-zoomout;
  }
}
.icon-star-o {
  &:before {
    content: @icon-star-o;
  }
}
.icon-share-line {
  &:before {
    content: @icon-share-line;
  }
}
.icon-microphone {
  &:before {
    content: @icon-microphone;
  }
}
.icon-mobile {
  &:before {
    content: @icon-mobile;
  }
}
.icon-qq {
  &:before {
    content: @icon-qq;
  }
}
.icon-coupon-line {
  &:before {
    content: @icon-coupon-line;
  }
}
.icon-arrow-up-o {
  &:before {
    content: @icon-arrow-up-o;
  }
}
.icon-card {
  &:before {
    content: @icon-card;
  }
}
.icon-plus {
  &:before {
    content: @icon-plus;
  }
}
.icon-order {
  &:before {
    content: @icon-order;
  }
}
.icon-weibo {
  &:before {
    content: @icon-weibo;
  }
}
.icon-red-packet {
  &:before {
    content: @icon-red-packet;
  }
}
.icon-upload {
  &:before {
    content: @icon-upload;
  }
}
.icon-arrow-down-o {
  &:before {
    content: @icon-arrow-down-o;
  }
}
.icon-heart-full {
  &:before {
    content: @icon-heart-full;
  }
}
.icon-link1 {
  &:before {
    content: @icon-link1;
  }
}
.icon-tree {
  &:before {
    content: @icon-tree;
  }
}
.icon-hand-up {
  &:before {
    content: @icon-hand-up;
  }
}
.icon-hand-right {
  &:before {
    content: @icon-hand-right;
  }
}
.icon-hand-left {
  &:before {
    content: @icon-hand-left;
  }
}
.icon-chain {
  &:before {
    content: @icon-chain;
  }
}
.icon-eye-slash {
  &:before {
    content: @icon-eye-slash;
  }
}
.icon-eye {
  &:before {
    content: @icon-eye;
  }
}
.icon-line-chart {
  &:before {
    content: @icon-line-chart;
  }
}
.icon-smile {
  &:before {
    content: @icon-smile;
  }
}
.icon-address-book {
  &:before {
    content: @icon-address-book;
  }
}
.icon-fresh {
  &:before {
    content: @icon-fresh;
  }
}
.icon-more-vertical {
  &:before {
    content: @icon-more-vertical;
  }
}
.icon-dollar {
  &:before {
    content: @icon-dollar;
  }
}
.icon-cancel {
  &:before {
    content: @icon-cancel;
  }
}
.icon-arrow-down-l {
  &:before {
    content: @icon-arrow-down-l;
  }
}
.icon-user-tie {
  &:before {
    content: @icon-user-tie;
  }
}
.icon-gift-line {
  &:before {
    content: @icon-gift-line;
  }
}
.icon-barcode-scan {
  &:before {
    content: @icon-barcode-scan;
  }
}
.icon-invalid {
  &:before {
    content: @icon-invalid;
  }
}
.icon-credit-card {
  &:before {
    content: @icon-credit-card;
  }
}
.icon-hand-down {
  &:before {
    content: @icon-hand-down;
  }
}
.icon-tablet {
  &:before {
    content: @icon-tablet;
  }
}
.icon-home {
  &:before {
    content: @icon-home;
  }
}
.icon-switch {
  &:before {
    content: @icon-switch;
  }
}
.icon-arrow-up-h {
  &:before {
    content: @icon-arrow-up-h;
  }
}
.icon-next {
  &:before {
    content: @icon-next;
  }
}
.icon-tree-org {
  &:before {
    content: @icon-tree-org;
  }
}
.icon-arrow-right-h {
  &:before {
    content: @icon-arrow-right-h;
  }
}
.icon-qrcode {
  &:before {
    content: @icon-qrcode;
  }
}
.icon-image {
  &:before {
    content: @icon-image;
  }
}
.icon-sad {
  &:before {
    content: @icon-sad;
  }
}
.icon-file {
  &:before {
    content: @icon-file;
  }
}
.icon-heart-broken {
  &:before {
    content: @icon-heart-broken;
  }
}
.icon-quote {
  &:before {
    content: @icon-quote;
  }
}
.icon-display {
  &:before {
    content: @icon-display;
  }
}
.icon-weixin {
  &:before {
    content: @icon-weixin;
  }
}
.icon-tree-menu {
  &:before {
    content: @icon-tree-menu;
  }
}
.icon-hand {
  &:before {
    content: @icon-hand;
  }
}
.icon-envelope {
  &:before {
    content: @icon-envelope;
  }
}
.icon-file-text {
  &:before {
    content: @icon-file-text;
  }
}
.icon-music {
  &:before {
    content: @icon-music;
  }
}

