@wue-font-path: "../fonts";

@wue-icon-check-empty: "\f096";
@wue-icon-facebook: "\f09a";
@wue-icon-gplus: "\f0d5";
@wue-icon-desktop: "\f108";
@wue-icon-laptop: "\f109";
@wue-icon-tablet: "\f10a";
@wue-icon-mobile: "\f10b";
@wue-icon-apple: "\f179";
@wue-icon-android: "\f17b";
@wue-icon-linux: "\f17c";
@wue-icon-renren: "\f18b";
@wue-icon-database: "\f1c0";
@wue-icon-git: "\f1d3";
@wue-icon-tencent-weibo: "\f1d5";
@wue-icon-qq: "\f1d6";
@wue-icon-wechat: "\f1d7";
@wue-icon-circle-thin: "\f1db";
@wue-icon-bomb: "\f1e2";
@wue-icon-plug: "\f1e6";
@wue-icon-cc-visa: "\f1f0";
@wue-icon-bicycle: "\f206";
@wue-icon-motorcycle: "\f21c";
@wue-icon-venus: "\f221";
@wue-icon-mars: "\f222";
@wue-icon-mercury: "\f223";
@wue-icon-transgender: "\f224";
@wue-icon-transgender-alt: "\f225";
@wue-icon-venus-double: "\f226";
@wue-icon-mars-double: "\f227";
@wue-icon-venus-mars: "\f228";
@wue-icon-mars-stroke: "\f229";
@wue-icon-mars-stroke-v: "\f22a";
@wue-icon-mars-stroke-h: "\f22b";
@wue-icon-neuter: "\f22c";
@wue-icon-genderless: "\f22d";
@wue-icon-battery-half: "\f242";
@wue-icon-battery-empty: "\f244";
@wue-icon-mouse-pointer: "\f245";
@wue-icon-hourglass-up: "\f251";
@wue-icon-hourglass-down: "\f253";
@wue-icon-modx: "\f285";
@wue-icon-usb: "\f287";
@wue-icon-bluetooth-b: "\f294";
@wue-icon-thermometer-half: "\f2c9";
@wue-icon-thermometer-quarter: "\f2ca";
@wue-icon-microchip: "\f2db";
@wue-icon-snowflake-o: "\f2dc";
@wue-icon-superpowers: "\f2dd";
@wue-icon-spin-two: "\e834";
@wue-icon-spin-mum: "\e838";
@wue-icon-spin-one: "\e839";
@wue-icon-refund: "\e600";
@wue-icon-like: "\e601";
@wue-icon-sun: "\e602";
@wue-icon-heart-fill: "\e603";
@wue-icon-sale: "\e604";
@wue-icon-more-dot: "\e605";
@wue-icon-unquote: "\e606";
@wue-icon-more-o: "\e607";
@wue-icon-locked: "\e608";
@wue-icon-alarm-o: "\e609";
@wue-icon-unlike: "\e60a";
@wue-icon-clock-o: "\e60b";
@wue-icon-alarm: "\e60c";
@wue-icon-bookmark: "\e60d";
@wue-icon-arrow-circle-down: "\e60e";
@wue-icon-yen: "\e610";
@wue-icon-bar-chart: "\e611";
@wue-icon-pencil: "\e612";
@wue-icon-red-packet-o: "\e613";
@wue-icon-map-location: "\e614";
@wue-icon-coupon: "\e615";
@wue-icon-sale-circle: "\e616";
@wue-icon-wepay: "\e617";
@wue-icon-close-circle: "\e618";
@wue-icon-sale-fill: "\e619";
@wue-icon-check-circle: "\e61a";
@wue-icon-key-up: "\e61b";
@wue-icon-info-o: "\e61c";
@wue-icon-wallet: "\e61d";
@wue-icon-barcode: "\e61e";
@wue-icon-dollar: "\e61f";
@wue-icon-user: "\e620";
@wue-icon-red-packet-v: "\e621";
@wue-icon-arrow-right-l: "\e622";
@wue-icon-id-card: "\e623";
@wue-icon-arrow-left-l: "\e624";
@wue-icon-attachment: "\e625";
@wue-icon-add-folder: "\e626";
@wue-icon-unlock: "\e627";
@wue-icon-key-down: "\e628";
@wue-icon-arrow-circle-down-l: "\e629";
@wue-icon-camera: "\e62a";
@wue-icon-open-folder: "\e62b";
@wue-icon-vidicon: "\e62c";
@wue-icon-folder: "\e62d";
@wue-icon-share-o: "\e62e";
@wue-icon-question-o: "\e62f";
@wue-icon-refresh-circle: "\e631";
@wue-icon-location-fill: "\e632";
@wue-icon-idea: "\e633";
@wue-icon-location: "\e636";
@wue-icon-call: "\e637";
@wue-icon-share-right: "\e638";
@wue-icon-question: "\e63a";
@wue-icon-phone: "\e63b";
@wue-icon-shop-cart: "\e63c";
@wue-icon-refresh: "\e63e";
@wue-icon-star-fill: "\e63f";
@wue-icon-clock: "\e640";
@wue-icon-star: "\e642";
@wue-icon-microphone: "\e643";
@wue-icon-qq-o: "\e644";
@wue-icon-arrow-left-circle: "\e645";
@wue-icon-order: "\e649";
@wue-icon-weibo: "\e64b";
@wue-icon-setting: "\e64c";
@wue-icon-arrow-down-circle: "\e650";
@wue-icon-envelopes: "\e651";
@wue-icon-hand-up: "\e652";
@wue-icon-hand-right: "\e653";
@wue-icon-hand-left: "\e654";
@wue-icon-smile: "\e655";
@wue-icon-photo: "\e656";
@wue-icon-address-book: "\e657";
@wue-icon-arrow-right-circle: "\e658";
@wue-icon-more-vertical: "\e659";
@wue-icon-arrow-up-circle: "\e65b";
@wue-icon-customer-services17: "\e65c";
@wue-icon-invalid-o: "\e65e";
@wue-icon-home: "\e65f";
@wue-icon-org-tree: "\e660";
@wue-icon-checkmark: "\e661";
@wue-icon-users: "\e663";
@wue-icon-link: "\e664";
@wue-icon-equalizer: "\e665";
@wue-icon-user-tie: "\e666";
@wue-icon-course: "\e667";
@wue-icon-calculator: "\e66a";
@wue-icon-file: "\e66c";
@wue-icon-heart-broken-fill: "\e66d";
@wue-icon-weixin: "\e66f";
@wue-icon-feedback: "\e670";
@wue-icon-tree-menu: "\e671";
@wue-icon-message-dot-o: "\e672";
@wue-icon-comment-dot-l: "\e673";
@wue-icon-message-o-l: "\e674";
@wue-icon-message-dot-r: "\e675";
@wue-icon-customer-service: "\e676";
@wue-icon-trucks-left: "\e67a";
@wue-icon-alipay: "\e67c";
@wue-icon-arrow-circle-left: "\e67e";
@wue-icon-arrow-circle-right: "\e67f";
@wue-icon-calendar: "\e685";
@wue-icon-hand: "\e686";
@wue-icon-share-open: "\e690";
@wue-icon-scan-qrcode: "\e69c";
@wue-icon-cloud-upload: "\e69d";
@wue-icon-cloud-download: "\e69e";
@wue-icon-scan-barcode: "\e6a0";
@wue-icon-books: "\e6a4";
@wue-icon-fresh: "\e6a8";
@wue-icon-switch: "\e6a9";
@wue-icon-at: "\e6aa";
@wue-icon-image: "\e6b1";
@wue-icon-list-menu: "\e6b5";
@wue-icon-user-add: "\e6b6";
@wue-icon-coupon-rmb: "\e6c8";
@wue-icon-share-line: "\e6f9";
@wue-icon-comments: "\e6fc";
@wue-icon-bubble-o: "\e6fd";
@wue-icon-sad: "\e704";
@wue-icon-trash: "\e707";
@wue-icon-phone-o: "\e726";
@wue-icon-pie-chart: "\e729";
@wue-icon-sound: "\e732";
@wue-icon-home-o: "\e73a";
@wue-icon-cancel-line: "\e73d";
@wue-icon-cogs: "\e73e";
@wue-icon-bookmarks: "\e741";
@wue-icon-arrow-down-l: "\e74e";
@wue-icon-arrow-up-l: "\e758";
@wue-icon-key: "\e759";
@wue-icon-qrcode: "\e763";
@wue-icon-heart-o: "\e764";
@wue-icon-chain: "\e776";
@wue-icon-comments-o: "\e78d";
@wue-icon-gift: "\e78f";
@wue-icon-eye-slash: "\e7aa";
@wue-icon-eye: "\e7ab";
@wue-icon-flag: "\e7cf";
@wue-icon-search-o: "\e7d1";
@wue-icon-line-chart: "\e7fd";
@wue-icon-credit-card: "\e81b";
@wue-icon-arrow-shrink: "\e829";
@wue-icon-desktop-o: "\e835";
@wue-icon-hand-down: "\e840";
@wue-icon-connection: "\e85f";
@wue-icon-trucks-r: "\e88b";
@wue-icon-tablet-o: "\e8b4";
@wue-icon-envelope: "\efd1";
@wue-icon-file-text: "\efd2";
@wue-icon-music: "\efd6";
@wue-icon-quote: "\efd7";
@wue-icon-circle: "\ea01";
@wue-icon-download: "\ea02";
@wue-icon-info: "\ea03";
@wue-icon-safe_success: "\ea04";
@wue-icon-safe_warn: "\ea05";
@wue-icon-success: "\ea06";
@wue-icon-success-circle: "\ea07";
@wue-icon-success-no-circle: "\ea08";
@wue-icon-waiting: "\ea09";
@wue-icon-waiting-circle: "\ea0a";
@wue-icon-warn: "\ea0b";
@wue-icon-info-circle: "\ea0c";
@wue-icon-cancel: "\ea0d";
@wue-icon-search: "\ea0e";
@wue-icon-clear: "\ea0f";
@wue-icon-back: "\ea10";
@wue-icon-delete: "\ea11";

@font-face {
  font-family: 'wue';
  src:  url('@{wue-font-path}/wue-icon.eot?ddyq7w');
  src:  url('@{wue-font-path}/wue-icon.eot?ddyq7w#iefix') format('embedded-opentype'),
    url('@{wue-font-path}/wue-icon.ttf?ddyq7w') format('truetype'),
    url('@{wue-font-path}/wue-icon.woff?ddyq7w') format('woff'),
    url('@{wue-font-path}/wue-icon.svg?ddyq7w#wue') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wue' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wue-icon-check-empty {
  &:before {
    content: @wue-icon-check-empty;
  }
}
.wue-icon-facebook {
  &:before {
    content: @wue-icon-facebook;
  }
}
.wue-icon-gplus {
  &:before {
    content: @wue-icon-gplus;
  }
}
.wue-icon-desktop {
  &:before {
    content: @wue-icon-desktop;
  }
}
.wue-icon-laptop {
  &:before {
    content: @wue-icon-laptop;
  }
}
.wue-icon-tablet {
  &:before {
    content: @wue-icon-tablet;
  }
}
.wue-icon-mobile {
  &:before {
    content: @wue-icon-mobile;
  }
}
.wue-icon-apple {
  &:before {
    content: @wue-icon-apple;
  }
}
.wue-icon-android {
  &:before {
    content: @wue-icon-android;
  }
}
.wue-icon-linux {
  &:before {
    content: @wue-icon-linux;
  }
}
.wue-icon-renren {
  &:before {
    content: @wue-icon-renren;
  }
}
.wue-icon-database {
  &:before {
    content: @wue-icon-database;
  }
}
.wue-icon-git {
  &:before {
    content: @wue-icon-git;
  }
}
.wue-icon-tencent-weibo {
  &:before {
    content: @wue-icon-tencent-weibo;
  }
}
.wue-icon-qq {
  &:before {
    content: @wue-icon-qq;
  }
}
.wue-icon-wechat {
  &:before {
    content: @wue-icon-wechat;
  }
}
.wue-icon-circle-thin {
  &:before {
    content: @wue-icon-circle-thin;
  }
}
.wue-icon-bomb {
  &:before {
    content: @wue-icon-bomb;
  }
}
.wue-icon-plug {
  &:before {
    content: @wue-icon-plug;
  }
}
.wue-icon-cc-visa {
  &:before {
    content: @wue-icon-cc-visa;
  }
}
.wue-icon-bicycle {
  &:before {
    content: @wue-icon-bicycle;
  }
}
.wue-icon-motorcycle {
  &:before {
    content: @wue-icon-motorcycle;
  }
}
.wue-icon-venus {
  &:before {
    content: @wue-icon-venus;
  }
}
.wue-icon-mars {
  &:before {
    content: @wue-icon-mars;
  }
}
.wue-icon-mercury {
  &:before {
    content: @wue-icon-mercury;
  }
}
.wue-icon-transgender {
  &:before {
    content: @wue-icon-transgender;
  }
}
.wue-icon-transgender-alt {
  &:before {
    content: @wue-icon-transgender-alt;
  }
}
.wue-icon-venus-double {
  &:before {
    content: @wue-icon-venus-double;
  }
}
.wue-icon-mars-double {
  &:before {
    content: @wue-icon-mars-double;
  }
}
.wue-icon-venus-mars {
  &:before {
    content: @wue-icon-venus-mars;
  }
}
.wue-icon-mars-stroke {
  &:before {
    content: @wue-icon-mars-stroke;
  }
}
.wue-icon-mars-stroke-v {
  &:before {
    content: @wue-icon-mars-stroke-v;
  }
}
.wue-icon-mars-stroke-h {
  &:before {
    content: @wue-icon-mars-stroke-h;
  }
}
.wue-icon-neuter {
  &:before {
    content: @wue-icon-neuter;
  }
}
.wue-icon-genderless {
  &:before {
    content: @wue-icon-genderless;
  }
}
.wue-icon-battery-half {
  &:before {
    content: @wue-icon-battery-half;
  }
}
.wue-icon-battery-empty {
  &:before {
    content: @wue-icon-battery-empty;
  }
}
.wue-icon-mouse-pointer {
  &:before {
    content: @wue-icon-mouse-pointer;
  }
}
.wue-icon-hourglass-up {
  &:before {
    content: @wue-icon-hourglass-up;
  }
}
.wue-icon-hourglass-down {
  &:before {
    content: @wue-icon-hourglass-down;
  }
}
.wue-icon-modx {
  &:before {
    content: @wue-icon-modx;
  }
}
.wue-icon-usb {
  &:before {
    content: @wue-icon-usb;
  }
}
.wue-icon-bluetooth-b {
  &:before {
    content: @wue-icon-bluetooth-b;
  }
}
.wue-icon-thermometer-half {
  &:before {
    content: @wue-icon-thermometer-half;
  }
}
.wue-icon-thermometer-quarter {
  &:before {
    content: @wue-icon-thermometer-quarter;
  }
}
.wue-icon-microchip {
  &:before {
    content: @wue-icon-microchip;
  }
}
.wue-icon-snowflake-o {
  &:before {
    content: @wue-icon-snowflake-o;
  }
}
.wue-icon-superpowers {
  &:before {
    content: @wue-icon-superpowers;
  }
}
.wue-icon-spin-two {
  &:before {
    content: @wue-icon-spin-two;
  }
}
.wue-icon-spin-mum {
  &:before {
    content: @wue-icon-spin-mum;
  }
}
.wue-icon-spin-one {
  &:before {
    content: @wue-icon-spin-one;
  }
}
.wue-icon-refund {
  &:before {
    content: @wue-icon-refund;
  }
}
.wue-icon-like {
  &:before {
    content: @wue-icon-like;
  }
}
.wue-icon-sun {
  &:before {
    content: @wue-icon-sun;
  }
}
.wue-icon-heart-fill {
  &:before {
    content: @wue-icon-heart-fill;
  }
}
.wue-icon-sale {
  &:before {
    content: @wue-icon-sale;
  }
}
.wue-icon-more-dot {
  &:before {
    content: @wue-icon-more-dot;
  }
}
.wue-icon-unquote {
  &:before {
    content: @wue-icon-unquote;
  }
}
.wue-icon-more-o {
  &:before {
    content: @wue-icon-more-o;
  }
}
.wue-icon-locked {
  &:before {
    content: @wue-icon-locked;
  }
}
.wue-icon-alarm-o {
  &:before {
    content: @wue-icon-alarm-o;
  }
}
.wue-icon-unlike {
  &:before {
    content: @wue-icon-unlike;
  }
}
.wue-icon-clock-o {
  &:before {
    content: @wue-icon-clock-o;
  }
}
.wue-icon-alarm {
  &:before {
    content: @wue-icon-alarm;
  }
}
.wue-icon-bookmark {
  &:before {
    content: @wue-icon-bookmark;
  }
}
.wue-icon-arrow-circle-down {
  &:before {
    content: @wue-icon-arrow-circle-down;
  }
}
.wue-icon-yen {
  &:before {
    content: @wue-icon-yen;
  }
}
.wue-icon-bar-chart {
  &:before {
    content: @wue-icon-bar-chart;
  }
}
.wue-icon-pencil {
  &:before {
    content: @wue-icon-pencil;
  }
}
.wue-icon-red-packet-o {
  &:before {
    content: @wue-icon-red-packet-o;
  }
}
.wue-icon-map-location {
  &:before {
    content: @wue-icon-map-location;
  }
}
.wue-icon-coupon {
  &:before {
    content: @wue-icon-coupon;
  }
}
.wue-icon-sale-circle {
  &:before {
    content: @wue-icon-sale-circle;
  }
}
.wue-icon-wepay {
  &:before {
    content: @wue-icon-wepay;
  }
}
.wue-icon-close-circle {
  &:before {
    content: @wue-icon-close-circle;
  }
}
.wue-icon-sale-fill {
  &:before {
    content: @wue-icon-sale-fill;
  }
}
.wue-icon-check-circle {
  &:before {
    content: @wue-icon-check-circle;
  }
}
.wue-icon-key-up {
  &:before {
    content: @wue-icon-key-up;
  }
}
.wue-icon-info-o {
  &:before {
    content: @wue-icon-info-o;
  }
}
.wue-icon-wallet {
  &:before {
    content: @wue-icon-wallet;
  }
}
.wue-icon-barcode {
  &:before {
    content: @wue-icon-barcode;
  }
}
.wue-icon-dollar {
  &:before {
    content: @wue-icon-dollar;
  }
}
.wue-icon-user {
  &:before {
    content: @wue-icon-user;
  }
}
.wue-icon-red-packet-v {
  &:before {
    content: @wue-icon-red-packet-v;
  }
}
.wue-icon-arrow-right-l {
  &:before {
    content: @wue-icon-arrow-right-l;
  }
}
.wue-icon-id-card {
  &:before {
    content: @wue-icon-id-card;
  }
}
.wue-icon-arrow-left-l {
  &:before {
    content: @wue-icon-arrow-left-l;
  }
}
.wue-icon-attachment {
  &:before {
    content: @wue-icon-attachment;
  }
}
.wue-icon-add-folder {
  &:before {
    content: @wue-icon-add-folder;
  }
}
.wue-icon-unlock {
  &:before {
    content: @wue-icon-unlock;
  }
}
.wue-icon-key-down {
  &:before {
    content: @wue-icon-key-down;
  }
}
.wue-icon-arrow-circle-down-l {
  &:before {
    content: @wue-icon-arrow-circle-down-l;
  }
}
.wue-icon-camera {
  &:before {
    content: @wue-icon-camera;
  }
}
.wue-icon-open-folder {
  &:before {
    content: @wue-icon-open-folder;
  }
}
.wue-icon-vidicon {
  &:before {
    content: @wue-icon-vidicon;
  }
}
.wue-icon-folder {
  &:before {
    content: @wue-icon-folder;
  }
}
.wue-icon-share-o {
  &:before {
    content: @wue-icon-share-o;
  }
}
.wue-icon-question-o {
  &:before {
    content: @wue-icon-question-o;
  }
}
.wue-icon-refresh-circle {
  &:before {
    content: @wue-icon-refresh-circle;
  }
}
.wue-icon-location-fill {
  &:before {
    content: @wue-icon-location-fill;
  }
}
.wue-icon-idea {
  &:before {
    content: @wue-icon-idea;
  }
}
.wue-icon-location {
  &:before {
    content: @wue-icon-location;
  }
}
.wue-icon-call {
  &:before {
    content: @wue-icon-call;
  }
}
.wue-icon-share-right {
  &:before {
    content: @wue-icon-share-right;
  }
}
.wue-icon-question {
  &:before {
    content: @wue-icon-question;
  }
}
.wue-icon-phone {
  &:before {
    content: @wue-icon-phone;
  }
}
.wue-icon-shop-cart {
  &:before {
    content: @wue-icon-shop-cart;
  }
}
.wue-icon-refresh {
  &:before {
    content: @wue-icon-refresh;
  }
}
.wue-icon-star-fill {
  &:before {
    content: @wue-icon-star-fill;
  }
}
.wue-icon-clock {
  &:before {
    content: @wue-icon-clock;
  }
}
.wue-icon-star {
  &:before {
    content: @wue-icon-star;
  }
}
.wue-icon-microphone {
  &:before {
    content: @wue-icon-microphone;
  }
}
.wue-icon-qq-o {
  &:before {
    content: @wue-icon-qq-o;
  }
}
.wue-icon-arrow-left-circle {
  &:before {
    content: @wue-icon-arrow-left-circle;
  }
}
.wue-icon-order {
  &:before {
    content: @wue-icon-order;
  }
}
.wue-icon-weibo {
  &:before {
    content: @wue-icon-weibo;
  }
}
.wue-icon-setting {
  &:before {
    content: @wue-icon-setting;
  }
}
.wue-icon-arrow-down-circle {
  &:before {
    content: @wue-icon-arrow-down-circle;
  }
}
.wue-icon-envelopes {
  &:before {
    content: @wue-icon-envelopes;
  }
}
.wue-icon-hand-up {
  &:before {
    content: @wue-icon-hand-up;
  }
}
.wue-icon-hand-right {
  &:before {
    content: @wue-icon-hand-right;
  }
}
.wue-icon-hand-left {
  &:before {
    content: @wue-icon-hand-left;
  }
}
.wue-icon-smile {
  &:before {
    content: @wue-icon-smile;
  }
}
.wue-icon-photo {
  &:before {
    content: @wue-icon-photo;
  }
}
.wue-icon-address-book {
  &:before {
    content: @wue-icon-address-book;
  }
}
.wue-icon-arrow-right-circle {
  &:before {
    content: @wue-icon-arrow-right-circle;
  }
}
.wue-icon-more-vertical {
  &:before {
    content: @wue-icon-more-vertical;
  }
}
.wue-icon-arrow-up-circle {
  &:before {
    content: @wue-icon-arrow-up-circle;
  }
}
.wue-icon-customer-services17 {
  &:before {
    content: @wue-icon-customer-services17;
  }
}
.wue-icon-invalid-o {
  &:before {
    content: @wue-icon-invalid-o;
  }
}
.wue-icon-home {
  &:before {
    content: @wue-icon-home;
  }
}
.wue-icon-org-tree {
  &:before {
    content: @wue-icon-org-tree;
  }
}
.wue-icon-checkmark {
  &:before {
    content: @wue-icon-checkmark;
  }
}
.wue-icon-users {
  &:before {
    content: @wue-icon-users;
  }
}
.wue-icon-link {
  &:before {
    content: @wue-icon-link;
  }
}
.wue-icon-equalizer {
  &:before {
    content: @wue-icon-equalizer;
  }
}
.wue-icon-user-tie {
  &:before {
    content: @wue-icon-user-tie;
  }
}
.wue-icon-course {
  &:before {
    content: @wue-icon-course;
  }
}
.wue-icon-calculator {
  &:before {
    content: @wue-icon-calculator;
  }
}
.wue-icon-file {
  &:before {
    content: @wue-icon-file;
  }
}
.wue-icon-heart-broken-fill {
  &:before {
    content: @wue-icon-heart-broken-fill;
  }
}
.wue-icon-weixin {
  &:before {
    content: @wue-icon-weixin;
  }
}
.wue-icon-feedback {
  &:before {
    content: @wue-icon-feedback;
  }
}
.wue-icon-tree-menu {
  &:before {
    content: @wue-icon-tree-menu;
  }
}
.wue-icon-message-dot-o {
  &:before {
    content: @wue-icon-message-dot-o;
  }
}
.wue-icon-comment-dot-l {
  &:before {
    content: @wue-icon-comment-dot-l;
  }
}
.wue-icon-message-o-l {
  &:before {
    content: @wue-icon-message-o-l;
  }
}
.wue-icon-message-dot-r {
  &:before {
    content: @wue-icon-message-dot-r;
  }
}
.wue-icon-customer-service {
  &:before {
    content: @wue-icon-customer-service;
  }
}
.wue-icon-trucks-left {
  &:before {
    content: @wue-icon-trucks-left;
  }
}
.wue-icon-alipay {
  &:before {
    content: @wue-icon-alipay;
  }
}
.wue-icon-arrow-circle-left {
  &:before {
    content: @wue-icon-arrow-circle-left;
  }
}
.wue-icon-arrow-circle-right {
  &:before {
    content: @wue-icon-arrow-circle-right;
  }
}
.wue-icon-calendar {
  &:before {
    content: @wue-icon-calendar;
  }
}
.wue-icon-hand {
  &:before {
    content: @wue-icon-hand;
  }
}
.wue-icon-share-open {
  &:before {
    content: @wue-icon-share-open;
  }
}
.wue-icon-scan-qrcode {
  &:before {
    content: @wue-icon-scan-qrcode;
  }
}
.wue-icon-cloud-upload {
  &:before {
    content: @wue-icon-cloud-upload;
  }
}
.wue-icon-cloud-download {
  &:before {
    content: @wue-icon-cloud-download;
  }
}
.wue-icon-scan-barcode {
  &:before {
    content: @wue-icon-scan-barcode;
  }
}
.wue-icon-books {
  &:before {
    content: @wue-icon-books;
  }
}
.wue-icon-fresh {
  &:before {
    content: @wue-icon-fresh;
  }
}
.wue-icon-switch {
  &:before {
    content: @wue-icon-switch;
  }
}
.wue-icon-at {
  &:before {
    content: @wue-icon-at;
  }
}
.wue-icon-image {
  &:before {
    content: @wue-icon-image;
  }
}
.wue-icon-list-menu {
  &:before {
    content: @wue-icon-list-menu;
  }
}
.wue-icon-user-add {
  &:before {
    content: @wue-icon-user-add;
  }
}
.wue-icon-coupon-rmb {
  &:before {
    content: @wue-icon-coupon-rmb;
  }
}
.wue-icon-share-line {
  &:before {
    content: @wue-icon-share-line;
  }
}
.wue-icon-comments {
  &:before {
    content: @wue-icon-comments;
  }
}
.wue-icon-bubble-o {
  &:before {
    content: @wue-icon-bubble-o;
  }
}
.wue-icon-sad {
  &:before {
    content: @wue-icon-sad;
  }
}
.wue-icon-trash {
  &:before {
    content: @wue-icon-trash;
  }
}
.wue-icon-phone-o {
  &:before {
    content: @wue-icon-phone-o;
  }
}
.wue-icon-pie-chart {
  &:before {
    content: @wue-icon-pie-chart;
  }
}
.wue-icon-sound {
  &:before {
    content: @wue-icon-sound;
  }
}
.wue-icon-home-o {
  &:before {
    content: @wue-icon-home-o;
  }
}
.wue-icon-cancel-line {
  &:before {
    content: @wue-icon-cancel-line;
  }
}
.wue-icon-cogs {
  &:before {
    content: @wue-icon-cogs;
  }
}
.wue-icon-bookmarks {
  &:before {
    content: @wue-icon-bookmarks;
  }
}
.wue-icon-arrow-down-l {
  &:before {
    content: @wue-icon-arrow-down-l;
  }
}
.wue-icon-arrow-up-l {
  &:before {
    content: @wue-icon-arrow-up-l;
  }
}
.wue-icon-key {
  &:before {
    content: @wue-icon-key;
  }
}
.wue-icon-qrcode {
  &:before {
    content: @wue-icon-qrcode;
  }
}
.wue-icon-heart-o {
  &:before {
    content: @wue-icon-heart-o;
  }
}
.wue-icon-chain {
  &:before {
    content: @wue-icon-chain;
  }
}
.wue-icon-comments-o {
  &:before {
    content: @wue-icon-comments-o;
  }
}
.wue-icon-gift {
  &:before {
    content: @wue-icon-gift;
  }
}
.wue-icon-eye-slash {
  &:before {
    content: @wue-icon-eye-slash;
  }
}
.wue-icon-eye {
  &:before {
    content: @wue-icon-eye;
  }
}
.wue-icon-flag {
  &:before {
    content: @wue-icon-flag;
  }
}
.wue-icon-search-o {
  &:before {
    content: @wue-icon-search-o;
  }
}
.wue-icon-line-chart {
  &:before {
    content: @wue-icon-line-chart;
  }
}
.wue-icon-credit-card {
  &:before {
    content: @wue-icon-credit-card;
  }
}
.wue-icon-arrow-shrink {
  &:before {
    content: @wue-icon-arrow-shrink;
  }
}
.wue-icon-desktop-o {
  &:before {
    content: @wue-icon-desktop-o;
  }
}
.wue-icon-hand-down {
  &:before {
    content: @wue-icon-hand-down;
  }
}
.wue-icon-connection {
  &:before {
    content: @wue-icon-connection;
  }
}
.wue-icon-trucks-r {
  &:before {
    content: @wue-icon-trucks-r;
  }
}
.wue-icon-tablet-o {
  &:before {
    content: @wue-icon-tablet-o;
  }
}
.wue-icon-envelope {
  &:before {
    content: @wue-icon-envelope;
  }
}
.wue-icon-file-text {
  &:before {
    content: @wue-icon-file-text;
  }
}
.wue-icon-music {
  &:before {
    content: @wue-icon-music;
  }
}
.wue-icon-quote {
  &:before {
    content: @wue-icon-quote;
  }
}
.wue-icon-circle {
  &:before {
    content: @wue-icon-circle;
  }
}
.wue-icon-download {
  &:before {
    content: @wue-icon-download;
  }
}
.wue-icon-info {
  &:before {
    content: @wue-icon-info;
  }
}
.wue-icon-safe_success {
  &:before {
    content: @wue-icon-safe_success;
  }
}
.wue-icon-safe_warn {
  &:before {
    content: @wue-icon-safe_warn;
  }
}
.wue-icon-success {
  &:before {
    content: @wue-icon-success;
  }
}
.wue-icon-success-circle {
  &:before {
    content: @wue-icon-success-circle;
  }
}
.wue-icon-success-no-circle {
  &:before {
    content: @wue-icon-success-no-circle;
  }
}
.wue-icon-waiting {
  &:before {
    content: @wue-icon-waiting;
  }
}
.wue-icon-waiting-circle {
  &:before {
    content: @wue-icon-waiting-circle;
  }
}
.wue-icon-warn {
  &:before {
    content: @wue-icon-warn;
  }
}
.wue-icon-info-circle {
  &:before {
    content: @wue-icon-info-circle;
  }
}
.wue-icon-cancel {
  &:before {
    content: @wue-icon-cancel;
  }
}
.wue-icon-search {
  &:before {
    content: @wue-icon-search;
  }
}
.wue-icon-clear {
  &:before {
    content: @wue-icon-clear;
  }
}
.wue-icon-back {
  &:before {
    content: @wue-icon-back;
  }
}
.wue-icon-delete {
  &:before {
    content: @wue-icon-delete;
  }
}

