
@import "wue-brand-var";

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wue-brand' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wue-brand-brand-me {
  &:before {
    content: @wue-brand-brand-me;
  }
}
.wue-brand-brand-lai {
  &:before {
    content: @wue-brand-brand-lai;
  }
}
.wue-brand-brand-android {
  &:before {
    content: @wue-brand-brand-android;
  }
}
.wue-brand-brand-apple {
  &:before {
    content: @wue-brand-brand-apple;
  }
}
.wue-brand-brand-baidu {
  &:before {
    content: @wue-brand-brand-baidu;
  }
}
.wue-brand-brand-facebook {
  &:before {
    content: @wue-brand-brand-facebook;
  }
}
.wue-brand-brand-git {
  &:before {
    content: @wue-brand-brand-git;
  }
}
.wue-brand-brand-github {
  &:before {
    content: @wue-brand-brand-github;
  }
}
.wue-brand-brand1-gitlab {
  &:before {
    content: @wue-brand-brand1-gitlab;
  }
}
.wue-brand-brand-google {
  &:before {
    content: @wue-brand-brand-google;
  }
}
.wue-brand-brand-google-doc {
  &:before {
    content: @wue-brand-brand-google-doc;
  }
}
.wue-brand-brand-gulp {
  &:before {
    content: @wue-brand-brand-gulp;
  }
}
.wue-brand-brand-html5 {
  &:before {
    content: @wue-brand-brand-html5;
  }
}
.wue-brand-brand-line {
  &:before {
    content: @wue-brand-brand-line;
  }
}
.wue-brand-brand-acess {
  &:before {
    content: @wue-brand-brand-acess;
  }
}
.wue-brand-brand-excel {
  &:before {
    content: @wue-brand-brand-excel;
  }
}
.wue-brand-brand-note {
  &:before {
    content: @wue-brand-brand-note;
  }
}
.wue-brand-brand-outlook {
  &:before {
    content: @wue-brand-brand-outlook;
  }
}
.wue-brand-brand-ppt {
  &:before {
    content: @wue-brand-brand-ppt;
  }
}
.wue-brand-brand-word {
  &:before {
    content: @wue-brand-brand-word;
  }
}
.wue-brand-brand-skype {
  &:before {
    content: @wue-brand-brand-skype;
  }
}
.wue-brand-brand-slack {
  &:before {
    content: @wue-brand-brand-slack;
  }
}
.wue-brand-brand-stack {
  &:before {
    content: @wue-brand-brand-stack;
  }
}
.wue-brand-brand-ted {
  &:before {
    content: @wue-brand-brand-ted;
  }
}
.wue-brand-brand-qq {
  &:before {
    content: @wue-brand-brand-qq;
  }
}
.wue-brand-brand-tsl {
  &:before {
    content: @wue-brand-brand-tsl;
  }
}
.wue-brand-brand-uber {
  &:before {
    content: @wue-brand-brand-uber;
  }
}
.wue-brand-brand-ubuntu {
  &:before {
    content: @wue-brand-brand-ubuntu;
  }
}
.wue-brand-brand-visa {
  &:before {
    content: @wue-brand-brand-visa;
  }
}
.wue-brand-brand-vue {
  &:before {
    content: @wue-brand-brand-vue;
  }
}
.wue-brand-brand-wechat {
  &:before {
    content: @wue-brand-brand-wechat;
  }
}
.wue-brand-brand-wordpress {
  &:before {
    content: @wue-brand-brand-wordpress;
  }
}
.wue-brand-brand-windows {
  &:before {
    content: @wue-brand-brand-windows;
  }
}
.wue-brand-brand-xbox {
  &:before {
    content: @wue-brand-brand-xbox;
  }
}
.wue-brand-brand-youtube {
  &:before {
    content: @wue-brand-brand-youtube;
  }
}

