
@weui-icon-key: "\e759";
@weui-icon-sale: "\e604";
@weui-icon-vidicon: "\e62c";
@weui-icon-more-o: "\e607";
@weui-icon-cogs: "\e73e";
@weui-icon-refund: "\e600";
@weui-icon-refresh-circle: "\e631";
@weui-icon-comments: "\e6fc";
@weui-icon-key-up: "\e61b";
@weui-icon-share-o: "\e62e";
@weui-icon-add-folder: "\e626";
@weui-icon-sun: "\e602";
@weui-icon-users: "\e663";
@weui-icon-home-o: "\e662";
@weui-icon-bookmarks: "\e741";
@weui-icon-customer-services17: "\e65c";
@weui-icon-barcode: "\e61e";
@weui-icon-bubble-o: "\e6fd";
@weui-icon-home2: "\e73a";
@weui-icon-bookmark: "\e60d";
@weui-icon-open-folder: "\e62b";
@weui-icon-connection: "\e85f";
@weui-icon-arrow-shrink: "\e829";
@weui-icon-alipay: "\e67c";
@weui-icon-link: "\e664";
@weui-icon-unlock: "\e627";
@weui-icon-yen: "\e610";
@weui-icon-more-dot: "\e605";
@weui-icon-share-open: "\e690";
@weui-icon-arrow-right-l: "\e622";
@weui-icon-arrow-left-l: "\e624";
@weui-icon-photo: "\e656";
@weui-icon-checked: "\e661";
@weui-icon-coupon: "\e615";
@weui-icon-unquote: "\e606";
@weui-icon-sale-circle: "\e616";
@weui-icon-customer-service: "\e676";
@weui-icon-alarm: "\e60c";
@weui-icon-setting: "\e64c";
@weui-icon-map-location: "\e614";
@weui-icon-arrow-left-circle: "\e645";
@weui-icon-arrow-down-circle: "\e650";
@weui-icon-arrow-right-circle: "\e658";
@weui-icon-arrow-up-circle: "\e65b";
@weui-icon-heart-o: "\e764";
@weui-icon-red-packet-v: "\e621";
@weui-icon-location-fill: "\e632";
@weui-icon-bar-chart: "\e611";
@weui-icon-calculator: "\e66a";
@weui-icon-feedback: "\e670";
@weui-icon-pencil: "\e612";
@weui-icon-close-circle: "\e618";
@weui-icon-check-circle: "\e61a";
@weui-icon-dollar: "\e61f";
@weui-icon-location: "\e636";
@weui-icon-equalizer: "\e665";
@weui-icon-user: "\e620";
@weui-icon-key-down: "\e628";
@weui-icon-call: "\e637";
@weui-icon-share-right: "\e638";
@weui-icon-calendar: "\e685";
@weui-icon-books: "\e6a4";
@weui-icon-at: "\e6aa";
@weui-icon-scan-qrcode: "\e69c";
@weui-icon-wepay: "\e617";
@weui-icon-refresh: "\e63e";
@weui-icon-question: "\e63a";
@weui-icon-idea: "\e633";
@weui-icon-phone: "\e63b";
@weui-icon-cloud-upload: "\e69d";
@weui-icon-cloud-download: "\e69e";
@weui-icon-pie-chart: "\e729";
@weui-icon-search: "\e7d1";
@weui-icon-shop-cart: "\e63c";
@weui-icon-star-fill: "\e63f";
@weui-icon-heart-fill: "\e603";
@weui-icon-clock: "\e640";
@weui-icon-trucks-left: "\e67a";
@weui-icon-star: "\e642";
@weui-icon-share-line: "\e6f9";
@weui-icon-unlike: "\e60a";
@weui-icon-microphone: "\e643";
@weui-icon-phone-o: "\e726";
@weui-icon-qq: "\e644";
@weui-icon-locked: "\e608";
@weui-icon-question-o: "\e62f";
@weui-icon-coupon-rmb: "\e6c8";
@weui-icon-message-dot-o: "\e672";
@weui-icon-user-add: "\e6b6";
@weui-icon-arrow-circle-down-l: "\e629";
@weui-icon-order: "\e649";
@weui-icon-weibo: "\e64b";
@weui-icon-sale-fill: "\e619";
@weui-icon-arrow-down-l: "\e74e";
@weui-icon-arrow-up-l: "\e758";
@weui-icon-envelopes: "\e651";
@weui-icon-hand-up: "\e652";
@weui-icon-hand-right: "\e653";
@weui-icon-hand-left: "\e654";
@weui-icon-course: "\e667";
@weui-icon-info: "\e61c";
@weui-icon-folder: "\e62d";
@weui-icon-chain: "\e776";
@weui-icon-comments-o: "\e78d";
@weui-icon-eye-slash: "\e7aa";
@weui-icon-eye: "\e7ab";
@weui-icon-flag: "\e7cf";
@weui-icon-line-chart: "\e7fd";
@weui-icon-smile: "\e655";
@weui-icon-address-book: "\e657";
@weui-icon-fresh: "\e6a8";
@weui-icon-wallet: "\e61d";
@weui-icon-camera: "\e62a";
@weui-icon-more-vertical: "\e659";
@weui-icon-like: "\e601";
@weui-icon-list-menu: "\e6b5";
@weui-icon-cancel: "\e73d";
@weui-icon-user-tie: "\e666";
@weui-icon-gift: "\e78f";
@weui-icon-scan-barcode: "\e6a0";
@weui-icon-sound: "\e732";
@weui-icon-invalid-o: "\e65e";
@weui-icon-attachment: "\e625";
@weui-icon-credit-card: "\e81b";
@weui-icon-hand-down: "\e840";
@weui-icon-tablet: "\e8b4";
@weui-icon-desktop: "\e834";
@weui-icon-home: "\e65f";
@weui-icon-switch: "\e6a9";
@weui-icon-org-tree: "\e660";
@weui-icon-comment-dot-l: "\e673";
@weui-icon-qrcode: "\e763";
@weui-icon-image: "\e6b1";
@weui-icon-sad: "\e704";
@weui-icon-trash: "\e707";
@weui-icon-clock-o: "\e60b";
@weui-icon-message-o-l: "\e674";
@weui-icon-file: "\e66c";
@weui-icon-arrow-circle-left: "\e67e";
@weui-icon-arrow-circle-right: "\e67f";
@weui-icon-trucks-r: "\e88b";
@weui-icon-message-dot-r: "\e675";
@weui-icon-heart-broken-fill: "\e66d";
@weui-icon-alarm-o: "\e609";
@weui-icon-red-packet-o: "\e613";
@weui-icon-weixin: "\e66f";
@weui-icon-tree-menu: "\e671";
@weui-icon-hand: "\e686";
@weui-icon-arrow-circle-down: "\e60e";
@weui-icon-envelope: "\efd1";
@weui-icon-file-text: "\efd2";
@weui-icon-music: "\efd6";
@weui-icon-id-card: "\e623";
@weui-icon-quote: "\efd7";

